@model IEnumerable<DTORegisterListRequest>
@inject IHttpContextAccessor HttpContextAccessor
<link rel="stylesheet" href="~/lib/bootstrap/dist/assets/plugin/datatables/responsive.dataTables.min.css">
<link rel="stylesheet" href="~/lib/bootstrap/dist/assets/plugin/datatables/dataTables.bootstrap5.min.css">
<div class="row align-items-center">
    <div class="border-0 mb-4">
        <div class="card-header py-3 no-bg bg-transparent d-flex align-items-center px-0 justify-content-between border-bottom flex-wrap">
            <h3 class="h4 mb-0">@ViewBag.Title</h3>
            <div class="col-auto d-flex w-sm-100 mt-2 mt-sm-0">
                <a asp-controller="Account" asp-action="Create" class="btn btn-dark btn-set-task w-sm-100"><i class="icofont-plus-circle me-2 fs-6"></i>Add User</a>
            </div>
        </div>
    </div>
    @if (!string.IsNullOrEmpty(@HttpContextAccessor.HttpContext.Session.GetString("_AuthRemark")))
    {
        @Html.Raw(@HttpContextAccessor.HttpContext.Session.GetString("_AuthRemark"))
        HttpContextAccessor.HttpContext.Session.Remove("_AuthRemark");
    }
</div> <!-- Row end  -->
<!-- First Row  test -->
<div class="row clearfix g-3">
    <div class="col-sm-12">
        <div class="card mb-3">
            <div class="card-body">
                <table id="myProjectTable" class="table table-hover align-middle mb-0" style="width:100%">
                    <thead>
                        <tr>
                            <th>@Html.DisplayNameFor(model => model.Sno)</th>
                            <th>@Html.DisplayNameFor(model => model.DomainId)</th>
                            <th>@Html.DisplayNameFor(model => model.RoleName)</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.Sno</td>
                                <td>@item.DomainId</td>
                                <td>@item.RoleName</td>
                                <td>
                                    <a asp-controller="Account" asp-action="ResetPassword" asp-route-Id="@(item.EncryptedId)" class="btn btn-primary">Reset Password</a>
                                    <a asp-action="EditUser" asp-controller="Account" asp-route-Id="@item.EncryptedId" class="btn btn-primary">Edit</a>
                                    <form asp-action="DeleteUser" asp-route-Id="@item.EncryptedId" method="post">
                                        <span id="confirmDeleteSpan_@item.EncryptedId" style="display:none">
                                            <span>Are you sure you want to delete?</span>
                                            <button type="submit" class="btn btn-danger">Yes</button>
                                            <a href="#" class="btn btn-primary"
                                               onclick="confirmDelete('@item.EncryptedId', false)">No</a>
                                        </span>

                                        <span id="deleteSpan_@item.Id">
                                            <a href="#" class="btn btn-danger"
                                               onclick="confirmDelete('@item.EncryptedId', true)">Delete</a>
                                        </span>
                                    </form>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div><!-- Row End -->

@section Scripts{
    <script src="~/js/CustomScript.js"></script>
    <!-- Jquery Core Js -->
@*    <script src="~/lib/bootstrap/dist/assets/bundles/libscripts.bundle.js"></script>*@

    <!-- Plugin Js-->
    <script src="~/lib/bootstrap/dist/assets/bundles/dataTables.bundle.js"></script>
    <script>
        // project data table
        $(document).ready(function () {
            $('#myProjectTable')
                .addClass('nowrap')
                .dataTable({
                    responsive: true,
                    columnDefs: [
                        { targets: [-1, -3], className: 'dt-body-right' }
                    ]
                });
            $('.deleterow').on('click', function () {
                var tablename = $(this).closest('table').DataTable();
                tablename
                    .row($(this)
                        .parents('tr'))
                    .remove()
                    .draw();

            });
        });
    </script>
    <script>
        LoadJDTSimple('#myTable');
    </script>
}