@inject IHttpContextAccessor HttpContextAccessor
@model DTOProfileAndMappingRequest
@{
    Layout = null;
    DTOMapUnitResponse dTOMapUnitResponse = new DTOMapUnitResponse();
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" type="image/x-icon" href="/images/AFSAC.png">
    <title> E-IASC </title>
    @*  <link href="/Fonts/css/all.min.css" rel="stylesheet" type="text/css"> *@

    <link href="~/css/style.css" rel="stylesheet" />
    <link href="~/css/nunito.css" rel="stylesheet" />
    <link href="~/css/roboto.css" rel="stylesheet" />
    <link href="~/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/lib/jqueryui/themes/base/jquery-ui.min.css" rel="stylesheet" />

    <link href="~/css/login.css" rel="stylesheet" />

    <link href="~/sweetalert2/sweetalert2.min.css" rel="stylesheet" />
    <link href="~/css/feed.css" rel="stylesheet" />

    <link href="~/css/normalize.min.css" rel="stylesheet" />
    @*   <link href="~/css/swiper.min.css" rel="stylesheet" /> *@
    <link href="~/css/feed.css" rel="stylesheet" />
    <link href="~/css/main.css" rel="stylesheet" />
    @*     <link href="~/css/sliders/style.css" rel="stylesheet" /> *@
    <style>
        .swal2-confirm, .swal2-styled {
            background: #D97924 !important;
        }
    </style>
    <style>
        .row.mb-1.required .form-label::after {
            content: "*";
            color: red;
        }

        .login-wrap {
            margin-top: 50px;
            margin-bottom: 100px;
            /* border: 7px double #242c6d; */
            border-radius: 10px;
            box-shadow: 0px 0px 40px rgb(217 121 4 / 23%);
            z-index: 1;
            margin-left: 32%;
        }

        body {
            background-image: url('/images/logo-white.jpg');
            background-size: cover;
            background-repeat: no-repeat;
        }
        .unit-label-background {
            background-color: #e9ecef;
            max-width: 200px;
            min-width: 200px;
        }
    </style>
</head>
<body>
    <div class="page">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6 col-lg-6 col-xl-4 bg-white login-wrap align-items-center">
                    <div class="login py-2 py-sm-4">
                        <div class="row">
                            <div class="col-md-10 col-lg-10 col-xl-9 mx-auto">
                                <div class="card-sigin">
                                    <div class="main-signup-header login-form">
                                        @* <h1 class="font-weight-bold text-center mb-0 mt-3 logo"><color style="color: #D97904">Login</color></h1>*@
                                        <div class="mb-1 logo-sec text-center">
                                            <img src="/Images/AFSAC_Logo.png" />
                                        </div>
                                        <p class="font-weight-normal text-center mb-4 mt-1 ">Profile</p>
                                        <div class="pb-3 mt-3">
                                            <form asp-antiforgery="true" asp-controller="Account" asp-action="Profile" method="post" class="mt-3">
                                                <div class="card-body">
                                                    <input hidden asp-for="UserId" />
                                                    <input hidden asp-for="UnitId" />
                                                    <input hidden asp-for="ApptId" />
                                                    @if (ViewBag.TrnDomain != null)
                                                    {
                                                        dTOMapUnitResponse = ViewBag.TrnDomain;
                                                    }
                                                    <div class="row">
                                                        <div class="col-xl-12">
                                                            <div class="row mb-2 required">
                                                                <label asp-for="ArmyNo" class="col-sm-4 col-form-label form-label">Offrs Army No</label>
                                                                <div class="col-sm-8">
                                                                    <input asp-for="ArmyNo" class="form-control" placeholder="" readonly />
                                                                    <span asp-validation-for="ArmyNo" class="text-danger"></span>
                                                                </div>
                                                            </div>
                                                            <div class="row mb-2 required">
                                                                <label asp-for="Name" class="col-sm-4 col-form-label form-label">Name</label>
                                                                <div class="col-sm-8">
                                                                    @if (Model.UserId > 0)
                                                                    {
                                                                        <input asp-for="Name" class="form-control" placeholder="" readonly />
                                                                    }
                                                                    else
                                                                    {
                                                                        <input asp-for="Name" class="form-control" placeholder="" />
                                                                    }
                                                                    <span asp-validation-for="Name" class="text-danger"></span>
                                                                </div>
                                                            </div>
                                                            <div class="row mb-2 required">
                                                                <label asp-for="RankId" class="col-sm-4 col-form-label form-label">Rank</label>
                                                                <div class="col-sm-8">
                                                                    @if (Model.UserId > 0)
                                                                    {
                                                                        <select asp-for="RankId" class="form-select" asp-items="ViewBag.OptionsRank" disabled="disabled">
                                                                        </select>
                                                                    }
                                                                    else
                                                                    {
                                                                        <select asp-for="RankId" class="form-select" asp-items="ViewBag.OptionsRank">
                                                                        </select>
                                                                    }

                                                                    <span asp-validation-for="RankId" class="text-danger"></span>
                                                                </div>
                                                            </div>
                                                            <div class="row mb-2 required">
                                                                <label asp-for="IntOffr" class="col-sm-4 col-form-label form-label"> Int Offrs.</label>
                                                                @if (Model.UserId > 0)
                                                                {
                                                                    <div class="col-sm-8">
                                                                        <div class="form-check form-check-inline">
                                                                            <input class="form-check-input" type="radio" name="IntOffr" value="true" id="intoffsyes" checked=@(Model.IntOffr == true?true:false) disabled="disabled">
                                                                            <label class="form-check-label" for="intoffsyes">
                                                                                Yes
                                                                            </label>
                                                                        </div>
                                                                        <div class="form-check form-check-inline">
                                                                            <input class="form-check-input" type="radio" name="IntOffr" value="false" id="intoffsno" checked=@(Model.IntOffr == false?true:false) disabled="disabled">
                                                                            <label class="form-check-label" for="intoffsno">
                                                                                No
                                                                            </label>
                                                                        </div>
                                                                    </div>
                                                                }
                                                                else
                                                                {
                                                                    <div class="col-sm-8">
                                                                        <div class="form-check form-check-inline">
                                                                            <input class="form-check-input" type="radio" name="IntOffr" value="true" id="intoffsyes">
                                                                            <label class="form-check-label" for="intoffsyes">
                                                                                Yes
                                                                            </label>
                                                                        </div>
                                                                        <div class="form-check form-check-inline">
                                                                            <input class="form-check-input" type="radio" name="IntOffr" value="false" id="intoffsno">
                                                                            <label class="form-check-label" for="intoffsno">
                                                                                No
                                                                            </label>
                                                                        </div>
                                                                    </div>
                                                                }
                                                            </div>
                                                            <div class="row mb-2 required">
                                                                <span id="spnApptIdMap" class="d-none"></span>
                                                                <label asp-for="AppointmentName" class="col-sm-4 col-form-label form-label">Appointment Name</label>
                                                                <div class="col-sm-8">
                                                                    @if (Model.ApptId > 0)
                                                                    {
                                                                        <input asp-for="AppointmentName" class="form-control" placeholder="" value="@Model.AppointmentName" readonly />
                                                                    }
                                                                    else
                                                                    {
                                                                        <input asp-for="AppointmentName" class="form-control" placeholder="" />
                                                                    }
                                                                    <span asp-validation-for="AppointmentName" class="text-danger"></span>
                                                                </div>
                                                            </div>
                                                            <div class="row mb-2 required">
                                                                <span id="spnUnitIdMap" class="d-none"></span>
                                                                <label asp-for="UnitName" class="col-sm-4 col-form-label form-label">Unit Name</label>
                                                                <div class="col-sm-8">
                                                                    @if (dTOMapUnitResponse.UnitId > 0)
                                                                    {
                                                                        <input asp-for="UnitName" class="form-control" placeholder="" value="@dTOMapUnitResponse.UnitName" readonly />
                                                                    }
                                                                    else
                                                                    {
                                                                        <input asp-for="UnitName" class="form-control" placeholder="" />
                                                                    }
                                                                    <span asp-validation-for="UnitName" class="text-danger"></span>
                                                                </div>
                                                            </div>
                                                            <div class="row mb-2">
                                                                <label class="col-form-label col-sm-4">Sus No</label>
                                                                <div class="col-sm-8">
                                                                    <label id="lblProSusno" class="col-form-label unit-label-background">@(dTOMapUnitResponse.Sus_no != null ? dTOMapUnitResponse.Sus_no : "")</label>
                                                                </div>
                                                            </div>
                                                            <div class="row mb-2">
                                                                <label class="col-form-label col-sm-4">Comd</label>
                                                                <div class="col-sm-8">
                                                                    <label class="col-form-label unit-label-background" id="lblProComd">@(dTOMapUnitResponse.ComdName != null ? dTOMapUnitResponse.ComdName : "")</label>
                                                                </div>
                                                            </div>
                                                            <div class="row mb-2">
                                                                <label class="col-form-label col-sm-4">Corps</label>
                                                                <div class="col-sm-8">
                                                                    <label class="col-form-label unit-label-background" id="lblProCorps">@(dTOMapUnitResponse.CorpsName != null ? dTOMapUnitResponse.CorpsName : "")</label>
                                                                </div>
                                                            </div>
                                                            <div class="row mb-2">
                                                                <label class="col-form-label col-sm-4">Div</label>
                                                                <div class="col-sm-8">
                                                                    <label class="col-form-label unit-label-background" id="lblProDiv">@(dTOMapUnitResponse.DivName != null ? dTOMapUnitResponse.DivName : "")</label>
                                                                </div>
                                                            </div>
                                                            <div class="row mb-2">
                                                                <label class="col-form-label col-sm-4">Bde</label>
                                                                <div class="col-sm-8">
                                                                    <label class="col-form-label unit-label-background" id="lblPrBde">@(dTOMapUnitResponse.BdeName != null ? dTOMapUnitResponse.BdeName : "")</label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                                </div>
                                                <div class="card-footer text-center">
                                                    <button type="submit" class="btn btn-primary">Submit</button>
                                                    @if (TempData["success"] != null)
                                                    {
                                                        <div class="alert alert-success alert-dismissible fade show" role="alert">
                                                            <span class="text-success">@TempData["success"]</span>
                                                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                                        </div>
                                                    }
                                                    @if (TempData["error"] != null)
                                                    {
                                                        <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                                            <span class="text-danger">@TempData["error"]</span>
                                                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                                        </div>
                                                    }
                                                </div>
                                            </form>
                                            @{
                                                DTOTempSession? dTOTempSession = new DTOTempSession();
                                                StringBuilder m1 = new StringBuilder();
                                                StringBuilder m2 = new StringBuilder();
                                                if (!string.IsNullOrEmpty(@HttpContextAccessor.HttpContext.Session.GetString("IMData")))
                                                {
                                                    dTOTempSession = SessionHeplers.GetObject<DTOTempSession>(HttpContextAccessor.HttpContext.Session, "IMData");
                                                    m1.Append("Status : " + dTOTempSession.Status);
                                                    m1.Append(",<br/>AdminFlag : " + dTOTempSession.AdminFlag);
                                                    m1.Append(",<br/>DomainId : " + dTOTempSession.DomainId);
                                                    m1.Append(",<br/>RoleName : " + dTOTempSession.RoleName);
                                                    m1.Append(",<br/>ICNO : " + dTOTempSession.ICNO);
                                                    m1.Append(",<br/>UserId : " + dTOTempSession.UserId);
                                                    m1.Append(",<br/>TrnDomainMappingUnitId : " + dTOTempSession.TrnDomainMappingUnitId);
                                                    m1.Append(",<br/>TrnDomainMappingId : " + dTOTempSession.TrnDomainMappingId);
                                                    m1.Append(",<br/>AspNetUsersId : " + dTOTempSession.AspNetUsersId);

                                                    m2.Append("ICNoDomainId : " + dTOTempSession.ICNoDomainId);
                                                    m2.Append(",<br/>ICNoTrnDomainMappingUnitId : " + dTOTempSession.ICNoTrnDomainMappingUnitId);
                                                }
                                            }
                                            @if (dTOTempSession != null)
                                            {
                                                <div class="alert alert-info alert-dismissible fade show" role="alert">
                                                    <span class="text-info text-break">@Html.Raw(@m1)</span>
                                                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                                </div>
                                                <div class="alert alert-info alert-dismissible fade show" role="alert">
                                                    <span class="text-info text-break">@Html.Raw(@m2)</span>
                                                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                                </div>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script asp-src-include="~/lib/jquery/jquery.js"></script>
    <script asp-src-include="~/lib/jquery-validate/jquery.validate.js" defer></script>
    <script asp-src-include="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js" defer></script>
    <script asp-src-include="~/lib/jqueryui/jquery-ui.min.js"></script>
    <script asp-src-include="~/developerjs/accountprofile.js"></script>
    <script asp-src-include="~/developerjs/keyconstants.js"></script>
</body>
</html>

