@inject IHttpContextAccessor HttpContextAccessor
@model DTOProfileAndMappingRequest
@{
    Layout = null;

    DTOTempSession? dTOTempSession = new DTOTempSession();
    StringBuilder m1 = new StringBuilder();
    StringBuilder m2 = new StringBuilder();
    if (!string.IsNullOrEmpty(@HttpContextAccessor.HttpContext.Session.GetString("IMData")))
    {
        dTOTempSession = SessionHeplers.GetObject<DTOTempSession>(HttpContextAccessor.HttpContext.Session, "IMData");
        m1.Append("Status : " + dTOTempSession.Status);
        m1.Append(",<br/>AdminFlag : " + dTOTempSession.AdminFlag);
        m1.Append(",<br/>DomainId : " + dTOTempSession.DomainId);
        m1.Append(",<br/>RoleName : " + dTOTempSession.RoleName);
        m1.Append(",<br/>ICNO : " + dTOTempSession.ICNO);
        m1.Append(",<br/>UserId : " + dTOTempSession.UserId);
        m1.Append(",<br/>TDMUnitMapId : " + dTOTempSession.TDMUnitMapId);
        m1.Append(",<br/>TDMId : " + dTOTempSession.TDMId);
        m1.Append(",<br/>AspNetUsersId : " + dTOTempSession.AspNetUsersId);

        m2.Append("ICNoDomainId : " + dTOTempSession.ICNoDomainId);
        m2.Append(",<br/>ICNoTDMUnitMapId : " + dTOTempSession.ICNoTDMUnitMapId);
    }
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" type="image/x-icon" href="/images/AFSAC.png">
    <title> E-IASAC </title>
    @*  <link href="/Fonts/css/all.min.css" rel="stylesheet" type="text/css"> *@

    <link href="~/css/style.css" rel="stylesheet" />
    <link href="~/css/nunito.css" rel="stylesheet" />
    <link href="~/css/roboto.css" rel="stylesheet" />
    <link href="~/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/lib/jqueryui/themes/base/jquery-ui.min.css" rel="stylesheet" />
    <link href="~/css/login.css" rel="stylesheet" />
    <link href="~/fonts/css/all.min.css" rel="stylesheet" />

    <link href="~/sweetalert2/sweetalert2.min.css" rel="stylesheet" />
    <link href="~/css/feed.css" rel="stylesheet" />

    <link href="~/css/normalize.min.css" rel="stylesheet" />
    @*   <link href="~/css/swiper.min.css" rel="stylesheet" /> *@
    <link href="~/css/feed.css" rel="stylesheet" />
    <link href="~/css/main.css" rel="stylesheet" />
    @*     <link href="~/css/sliders/style.css" rel="stylesheet" /> *@
    <style>
        .swal2-confirm, .swal2-styled {
            background: #D97924 !important;
        }

        .row.mb-1.required .form-label::after {
            content: "*";
            color: red;
        }

        .login-wrap {
            margin-top: 100px;
            margin-left: 20%;
            margin-right: 20%;
            width: 60%;
        }

        body {
            /*   background-image: url('/images/logo-white.jpg'); */
            background-size: cover;
            /*  background-color: #0d2470; */
            background-color: lightskyblue;
            background-repeat: no-repeat;
        }

        .unit-label-background {
            background-color: #e9ecef;
            max-width: 200px;
            min-width: 200px;
            height: 45px;
        }

        .logoheader {
            background: linear-gradient(90deg, rgba(0,211,255,1) 0%, rgba(12,141,242,1) 66%, rgba(22,125,207,1) 99%);
        }
        .form-label{
            font-size: 1rem;
        }
    </style>
</head>
<body>
    <div class="page">
        <div class="container-fluid">
            <div class="row logoheader">
                <div class="mb-1 logo-sec d-flex">
                    <a class="navbar-brand" href="#"><img src="~/Images/dgis_ico.png" width="50%"></a>
                    <div class="text-center mr-lg-15"><img class="mr-lg-15" src="~/Images/EISAC.png" width="50%"></div>
                </div>
            </div>
            <div class="bg-white login-wrap align-items-center">
                <div class="login py-2 py-sm-4">
                    <div class="row">
                        <div class="card-sigin">
                            <div class="main-signup-header login-form">
                                <p class="font-weight-normal font-weight-700 text-center mb-4 mt-1">Fill your  Details to Register Profile in Appl</p>
                                <div class="pb-3 mt-3">
                                    <div class="col-md-12 col-sm-6 mt-4 " id="">
                                        <input class="form-control mb-2 d-none form-space" id="txtProfileForArmyNo" maxlength="9" value="1" placeholder="Enter Army No" />
                                    </div>
                                    <div class="col-md-12 col-lg-12 col-xl-12 ml-2 mr-2">
                                        <form asp-antiforgery="true" asp-controller="Account" asp-action="Profile" id="Profile" name="Profile" method="post" class="mt-3">
                                            <div class="card-body">
                                                <div class="row">
                                                    <input hidden asp-for="TDMId" />
                                                    <input hidden asp-for="UserId" />
                                                    <input hidden asp-for="UnitMapId" />
                                                    <input hidden asp-for="ApptId" />
                                                    <input hidden asp-for="ArmedId" />
                                                    <div class="col-md-6 col-lg-6 col-xl-6">
                                                        <div class="row mb-2 required">
                                                            <label asp-for="ArmyNo" class="col-sm-4 col-form-label form-label fw-bold">Army No<i class="fas fa-asterisk mand1"></i></label>
                                                            <div class="col-sm-8">
                                                                <input asp-for="ArmyNo" class="form-control text-uppercase" placeholder="" readonly />
                                                                <span asp-validation-for="ArmyNo" class="text-danger"></span>
                                                            </div>
                                                        </div>
                                                        <div class="row mb-2 required">
                                                            <span id="spnUnitAppointmentId" class="d-none">@(Model.ApptId > 0 ? Model.ApptId : 0)</span>
                                                            <label class="col-form-label col-sm-4 fw-bold">Appointment<i class="fas fa-asterisk mand1 fw-bold"></i></label>
                                                            <div class="col-sm-8">
                                                                <input class="form-control" placeholder="Type Appointment" id="txtAppointmentName" name="txtAppointmentName" data-val="true" data-val-regex="This special chars not allowed for security reasons." data-val-required="Appointment Name is required." data-val-regex-pattern="^[\w \& \()]*$" />
                                                                <span class="text-danger field-validation-valid" data-valmsg-for="txtAppointmentName" data-valmsg-replace="true"></span>
                                                            </div>
                                                        </div>
                                                        <div class="row mb-2 required">
                                                            <label asp-for="MobileNo" class="col-sm-4 col-form-label form-label fw-bold">Mobile No<i class="fas fa-asterisk mand1"></i></label>
                                                            <div class="col-sm-8">
                                                                @if (Model.UserId > 0)
                                                                {
                                                                    <input asp-for="MobileNo" class="form-control allow-number" placeholder="" /> @* readonly *@
                                                                }
                                                                else
                                                                {
                                                                    <input asp-for="MobileNo" class="form-control allow-number" placeholder="" />
                                                                }
                                                                <span asp-validation-for="MobileNo" class="text-danger"></span>
                                                            </div>
                                                        </div>
                                                        <div class="row mb-2 required">
                                                            <label asp-for="DialingCode" class="col-sm-4 col-form-label form-label fw-bold">Army Contact No<i class="fas fa-asterisk mand1"></i></label>
                                                            <div class="col-sm-4">
                                                                @if (Model.TDMId > 0)
                                                                {
                                                                    <input asp-for="DialingCode" class="form-control allow-number" placeholder="" /> @* readonly *@
                                                                }
                                                                else
                                                                {
                                                                    <input asp-for="DialingCode" class="form-control allow-number" placeholder="ASCON Dialing" />
                                                                }
                                                                <span asp-validation-for="DialingCode" class="text-danger"></span>
                                                            </div>
                                                            <div class="col-sm-4">
                                                                @if (Model.TDMId > 0)
                                                                {
                                                                    <input asp-for="Extension" class="form-control allow-number" placeholder="" />@* readonly *@
                                                                }
                                                                else
                                                                {
                                                                    <input asp-for="Extension" class="form-control allow-number" placeholder="Extension" />
                                                                }
                                                                <span asp-validation-for="Extension" class="text-danger"></span>
                                                            </div>
                                                        </div>

                                                        <div class="row mb-2 required">
                                                            <label asp-for="IsIO" class="col-sm-9 col-form-label form-label fw-bold">Are you performing the Duties of OC / CO / OC Tps?<i class="fas fa-asterisk mand1"></i></label>
                                                            @if (Model.TDMId > 0)
                                                            {
                                                                <div class="col-sm-3">
                                                                    <div class="form-check form-check-inline">
                                                                        <input class="form-check-input" type="radio" name="IsIO" value="true" id="IsIOyes" checked=@(Model.IsIO == true?true:false) disabled="disabled">
                                                                        <label class="form-check-label" for="IsIOyes">
                                                                            Yes
                                                                        </label>
                                                                    </div>
                                                                    <div class="form-check form-check-inline">
                                                                        <input class="form-check-input" type="radio" name="IsIO" value="false" id="IsIOno" checked=@(Model.IsIO == false?true:false) disabled="disabled">
                                                                        <label class="form-check-label" for="IsIOno">
                                                                            No
                                                                        </label>
                                                                    </div>
                                                                </div>
                                                            }
                                                            else
                                                            {
                                                                <div class="col-sm-3">
                                                                    <div class="form-check form-check-inline">
                                                                        <input class="form-check-input" type="radio" name="IsIO" value="true" id="IsIOyes">
                                                                        <label class="form-check-label" for="IsIOyes">
                                                                            Yes
                                                                        </label>
                                                                    </div>
                                                                    <div class="form-check form-check-inline">
                                                                        <input class="form-check-input" type="radio" name="IsIO" value="false" id="IsIOno" checked="checked">
                                                                        <label class="form-check-label" for="IsIOno">
                                                                            No
                                                                        </label>
                                                                    </div>
                                                                    <span class="text-danger field-validation-valid" id="IsIO-error"></span>
                                                                </div>
                                                            }

                                                        </div>
                                                        <div class="row mb-2 required">
                                                            <label asp-for="IsCO" class="col-sm-9 col-form-label form-label fw-bold">Are you Commanding a Unit/ Sub Unit/ Fmn / Dte?<i class="fas fa-asterisk mand1"></i></label>
                                                            @if (Model.TDMId > 0)
                                                            {
                                                                <div class="col-sm-3">
                                                                    <div class="form-check form-check-inline">
                                                                        <input class="form-check-input" type="radio" name="IsCO" value="true" id="IsCOyes" checked=@(Model.IsCO == true?true:false) disabled="disabled">
                                                                        <label class="form-check-label" for="IsCOyes">
                                                                            Yes
                                                                        </label>
                                                                    </div>
                                                                    <div class="form-check form-check-inline">
                                                                        <input class="form-check-input" type="radio" name="IsCO" value="false" id="IsCOno" checked=@(Model.IsCO == false?true:false) disabled="disabled">
                                                                        <label class="form-check-label" for="IsCOno">
                                                                            No
                                                                        </label>
                                                                    </div>
                                                                </div>

                                                            }
                                                            else
                                                            {
                                                                <div class="col-sm-3">
                                                                    <div class="form-check form-check-inline">
                                                                        <input class="form-check-input" type="radio" name="IsCO" value="true" id="IsCOyes">
                                                                        <label class="form-check-label" for="IsCOyes">
                                                                            Yes
                                                                        </label>
                                                                    </div>
                                                                    <div class="form-check form-check-inline">
                                                                        <input class="form-check-input" type="radio" name="IsCO" value="false" id="IsCOno" checked="checked">
                                                                        <label class="form-check-label" for="IsCOno">
                                                                            No
                                                                        </label>
                                                                    </div>
                                                                    <span class="text-danger field-validation-valid" id="IsCO-error"></span>
                                                                </div>
                                                            }

                                                        </div>
                                                        <div class="row mb-2 required">
                                                            <label asp-for="IsRO" class="col-sm-9 col-form-label form-label fw-bold">Are you performing the Duties of CO, Record Office/ Col Records?<i class="fas fa-asterisk mand1"></i></label>
                                                            @if (Model.TDMId > 0)
                                                            {
                                                                <div class="col-sm-3">
                                                                    <div class="form-check form-check-inline">
                                                                        <input class="form-check-input" type="radio" name="IsRO" value="true" id="isroyes" checked=@(Model.IsRO == true?true:false) disabled="disabled">
                                                                        <label class="form-check-label" for="isroyes">
                                                                            Yes
                                                                        </label>
                                                                    </div>
                                                                    <div class="form-check form-check-inline">
                                                                        <input class="form-check-input" type="radio" name="IsRO" value="false" id="isrono" checked=@(Model.IsRO == false?true:false) disabled="disabled">
                                                                        <label class="form-check-label" for="isrono">
                                                                            No
                                                                        </label>
                                                                    </div>
                                                                </div>
                                                            }
                                                            else
                                                            {
                                                                <div class="col-sm-3">
                                                                    <div class="form-check form-check-inline">
                                                                        <input class="form-check-input" type="radio" name="IsRO" value="true" id="isroyes">
                                                                        <label class="form-check-label" for="isroyes">
                                                                            Yes
                                                                        </label>
                                                                    </div>
                                                                    <div class="form-check form-check-inline">
                                                                        <input class="form-check-input" type="radio" name="IsRO" value="false" id="isrono" checked="checked">
                                                                        <label class="form-check-label" for="isrono">
                                                                            No
                                                                        </label>
                                                                    </div>
                                                                    <span class="text-danger field-validation-valid" id="IsRO-error"></span>
                                                                </div>
                                                            }
                                                        </div>
                                                        <div class="row mb-2 required">
                                                            <label asp-for="IsORO" class="col-sm-9 col-form-label form-label fw-bold">Are you performing the Duties of Brig ORO?<i class="fas fa-asterisk mand1"></i></label>
                                                            @if (Model.TDMId > 0)
                                                            {
                                                                <div class="col-sm-3">
                                                                    <div class="form-check form-check-inline">
                                                                        <input class="form-check-input" type="radio" name="IsORO" value="true" id="isoroyes" checked=@(Model.IsORO == true?true:false) disabled="disabled">
                                                                        <label class="form-check-label" for="isoroyes">
                                                                            Yes
                                                                        </label>
                                                                    </div>
                                                                    <div class="form-check form-check-inline">
                                                                        <input class="form-check-input" type="radio" name="IsORO" value="false" id="isorono" checked=@(Model.IsORO == false?true:false) disabled="disabled">
                                                                        <label class="form-check-label" for="isorono">
                                                                            No
                                                                        </label>
                                                                    </div>
                                                                </div>
                                                            }
                                                            else
                                                            {
                                                                <div class="col-sm-3">
                                                                    <div class="form-check form-check-inline">
                                                                        <input class="form-check-input" type="radio" name="IsORO" value="true" id="isoroyes">
                                                                        <label class="form-check-label" for="isoroyes">
                                                                            Yes
                                                                        </label>
                                                                    </div>
                                                                    <div class="form-check form-check-inline">
                                                                        <input class="form-check-input" type="radio" name="IsORO" value="false" id="isorono" checked="checked">
                                                                        <label class="form-check-label" for="isorono">
                                                                            No
                                                                        </label>
                                                                    </div>
                                                                    <span class="text-danger field-validation-valid" id="IsORO-error"></span>
                                                                </div>
                                                            }
                                                        </div>
                                                        <div class="row mb-2 required d-none">
                                                            <label asp-for="Thumbprint" class="col-sm-4 col-form-label form-label fw-bold"> Thumb print<i class="fas fa-asterisk mand1"></i></label>

                                                            <div class="col-sm-8">
                                                                <div class="form-check form-check-inline">
                                                                    <input asp-for="Thumbprint" class="form-control" />

                                                                </div>

                                                            </div>

                                                        </div>
                                                    </div>
                                                    <div class="col-md-6 col-lg-6 col-xl-6">
                                                        <div class="row mb-2 required">
                                                            <label asp-for="RankId" class="col-sm-4 col-form-label form-label fw-bold">Rank<i class="fas fa-asterisk mand1"></i></label>
                                                            <div class="col-sm-8">
                                                                @if (Model.UserId > 0)
                                                                {
                                                                    <select asp-for="RankId" class="form-select" asp-items="ViewBag.OptionsRank">
                                                                    </select>
                                                                }
                                                                else
                                                                {
                                                                    <select asp-for="RankId" class="form-select" asp-items="ViewBag.OptionsRank">
                                                                    </select>
                                                                }

                                                                <span asp-validation-for="RankId" class="text-danger"></span>
                                                            </div>
                                                        </div>
                                                        <div class="row mb-2 required">
                                                            <label asp-for="Name" class="col-sm-4 col-form-label form-label fw-bold">Name<i class="fas fa-asterisk mand1"></i></label>
                                                            <div class="col-sm-8">
                                                                @if (Model.UserId > 0)
                                                                {
                                                                    <input asp-for="Name" class="form-control" placeholder=""  /> @* readonly *@
                                                                }
                                                                else
                                                                {
                                                                    <input asp-for="Name" class="form-control" placeholder="" />
                                                                }
                                                                <span asp-validation-for="Name" class="text-danger"></span>
                                                            </div>
                                                        </div>
                                                        <div class="form-group row mb-2">
                                                            <label class="col-form-label col-sm-4 fw-bold">Name of Arms, Service & Corps <i class="fas fa-asterisk mand1"></i></label>
                                                            <div class="col-sm-8">
                                                                @if (Model.UserId > 0)
                                                                {
                                                                    <select asp-for="ArmedId" class="form-select" asp-items="ViewBag.OptionsArmedType">
                                                                    </select>
                                                                }
                                                                else
                                                                {
                                                                    <select asp-for="ArmedId" class="form-select" asp-items="ViewBag.OptionsArmedType">
                                                                    </select>
                                                                }
                                                                <span asp-validation-for="ArmedId" class="text-danger"></span>
                                                            </div>
                                                        </div>
                                                        <div class="form-group row mb-2">
                                                            <label class="col-form-label col-sm-9 fw-bold">Do You want IACA Token Waiver to access Appl?<i class="fas fa-asterisk mand1"></i></label>
                                                            <div class="col-sm-3">
                                                                <div class="form-check form-check-inline">
                                                                    <input class="form-check-input" type="radio" name="IsToken" value="true" id="isTokenyes" data-val="true" data-val-regex="This special chars not allowed for security reasons." data-val-regex-pattern="^[a-zA-Z]*$">
                                                                    <label class="form-check-label" for="isTokenyes">
                                                                        Yes
                                                                    </label>
                                                                </div>
                                                                <div class="form-check form-check-inline">
                                                                    <input class="form-check-input" type="radio" name="IsToken" value="false" id="isTokenno" data-val="true" data-val-regex="This special chars not allowed for security reasons." data-val-regex-pattern="^[a-zA-Z]*$">
                                                                    <label class="form-check-label" for="isTokenno">
                                                                        No
                                                                    </label>
                                                                </div>
                                                                <span class="text-danger field-validation-valid" id="IsToken-error" data-valmsg-for="IsToken" data-valmsg-replace="true"></span>
                                                            </div>
                                                        </div>
                                                        <div class="form-group row mb-2 d-none" id="spnReasonTokenWaiver">
                                                            <label class="col-form-label col-sm-4 fw-bold">Reason for IACA Token Waiver</label>
                                                            <div class="col-sm-8">
                                                                <textarea asp-for="ReasonTokenWaiver" class="form-control" style="height:auto!important;" rows="3"></textarea>
                                                                <span asp-validation-for="ReasonTokenWaiver" class="text-danger"></span>
                                                            </div>
                                                        </div>

                                                        <div class="form-group row mb-2">
                                                            <span id="spnUnitMapId" class="d-none">@(Model.UnitMapId > 0 ? Model.UnitMapId : 0)</span>
                                                            <label class="col-form-label col-sm-4 fw-bold">Unit<i class="fas fa-asterisk mand1"></i></label>
                                                            <div class="col-sm-8">
                                                                <div class="d-flex">
                                                                    <input class="form-control" placeholder="Type SUSNO" id="txtUnitName" name="txtUnitName" data-val="true" data-val-regex="This special chars not allowed for security reasons." data-val-required="Unit Name is required." data-val-regex-pattern="^[\w ]*$" /><button type="button" id="btnAddUnit"><i class='fas fa-plus'></i></button>
                                                                </div>
                                                                <span class="text-danger field-validation-valid" data-valmsg-for="txtUnitName" data-valmsg-replace="true"></span>
                                                            </div>
                                                        </div>
                                                        <div class="row mb-2">
                                                            <label class="col-form-label col-sm-4 fw-bold">SUS No</label>
                                                            <div class="col-sm-8">
                                                                <label id="lblSusno" class="col-form-label unit-label-background"></label>
                                                            </div>
                                                        </div>
                                                        <div id="lbl1" class="row mb-2 d-none">
                                                            <label class="col-form-label col-sm-4 fw-bold">PSO / Dte</label>
                                                            <div class="col-sm-8">
                                                                <label class="col-form-label unit-label-background" id="lblPso"></label>
                                                            </div>
                                                        </div>
                                                        <div id="lbl2" class="row mb-2 d-none">
                                                            <label class="col-form-label col-sm-4 fw-bold">DG / Sub Dte</label>
                                                            <div class="col-sm-8">
                                                                <label class="col-form-label unit-label-background" id="lblDG"></label>
                                                            </div>
                                                        </div>
                                                        <div id="lbl3" class="row mb-2 d-none">
                                                            <label class="col-form-label col-sm-4 fw-bold">Comd / PSO</label>
                                                            <div class="col-sm-8">
                                                                <label class="col-form-label unit-label-background" id="lblComd"></label>
                                                            </div>
                                                        </div>
                                                        <div id="lbl4" class="row mb-2 d-none">
                                                            <label class="col-form-label col-sm-4 fw-bold">Corps / Dte / Area</label>
                                                            <div class="col-sm-8">
                                                                <label class="col-form-label unit-label-background" id="lblCorps"></label>
                                                            </div>
                                                        </div>
                                                        <div id="lbl5" class="row mb-2 d-none">
                                                            <label class="col-form-label col-sm-4 fw-bold">Div / Branch / Sub Area</label>
                                                            <div class="col-sm-8">
                                                                <label class="col-form-label unit-label-background" id="lblDiv"></label>
                                                            </div>
                                                        </div>
                                                        <div id="lbl6" class="row mb-2 d-none">
                                                            <label class="col-form-label col-sm-4 fw-bold">Bde</label>
                                                            <div class="col-sm-8">
                                                                <label class="col-form-label unit-label-background" id="lblBde"></label>
                                                            </div>
                                                        </div>
                                                        <div id="lbl7" class="row mb-2 d-none">
                                                            <label class="col-form-label col-sm-4 fw-bold">Type of Fmn / Branch</label>
                                                            <div class="col-sm-8">
                                                                <label class="col-form-label unit-label-background" id="lblFmn"></label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card-footer text-center mb-4">
                                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                                                @*                                   <button type="button" class="btn btn-danger mt-4 mr-4" id="btntokenrefresh">
                                                Refresh to Fetch Thumbprint from Token
                                                </button> *@

                                                <input type="button" class="btn btn-primary  mt-4 mr-4" value="Submit" id="btnSubmit" />



                                                @if (TempData["success"] != null)
                                                {
                                                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                                                        <span class="text-success">@TempData["success"]</span>
                                                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                                    </div>
                                                }
                                                @if (TempData["error"] != null)
                                                {
                                                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                                        <span class="text-danger">@TempData["error"]</span>
                                                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                                    </div>
                                                }
                                            </div>
                                            <div class="col-md-12 col-sm-6 text-center mt-4" id="">
                                                <span id="tokenmsg"></span>
                                            </div>
                                            @{

                                            }
                                            @*                             @if (dTOTempSession != null)
                                            {
                                            <div class="alert alert-info alert-dismissible fade show" role="alert">
                                            <span class="text-info text-break">@Html.Raw(@m1)</span>
                                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                            </div>
                                            <div class="alert alert-info alert-dismissible fade show" role="alert">
                                            <span class="text-info text-break">@Html.Raw(@m2)</span>
                                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                            </div>
                                            } *@
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>
    <script asp-src-include="~/lib/jquery/jquery.js"></script>
    <script asp-src-include="~/lib/jquery-validate/jquery.validate.js" defer></script>
    <script asp-src-include="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js" defer></script>
    <script asp-src-include="~/lib/jqueryui/jquery-ui.min.js"></script>
    <script asp-src-include="~/bootstrap/js/bootstrap.min.js"></script>
    <script asp-src-include="~/developerjs/keyconstants.js"></script>
    <script asp-src-include="~/developerjs/mtables.js"></script>
    <script asp-src-include="~/sweetalert2/sweetalert2.min.js"></script>
    <script asp-src-include="~/developerjs/accountprofile.js"></script>
    <script src="~/developerjs/token.js"></script>
</body>
</html>
<div class="modal fade" id="AddNewUnitmap" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Enter Unit Details With Mapping</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <form action="" id="SaveUnitWithMap" method="post" name="SaveUnitWithMap">
                        <div class="row">
                            @if (dTOTempSession != null)
                            {
                                <span class=" d-none" id="spnServiceNo">@dTOTempSession.ICNOInput</span>
                                <span class=" d-none" id="spnName">NA</span>
                                <span class=" d-none" id="spnRank">NA</span>
                                <span class=" d-none" id="spnDomainId">@dTOTempSession.DomainId</span>
                            }
                            <div class="form-group row mb-2">
                                <label class="col-form-label col-sm-4 fw-bold">SUS No <i class="fas fa-asterisk mand1"></i></label>
                                <div class="col-sm-8">
                                    <input class="form-control" placeholder="Enter SUS No" name="txtSusno" id="txtSusno" minlength="8" maxlength="8" data-val="true" data-val-regex="Use Seven digit numbers and one alphabet in capital letter without space" data-val-required="SUS No is required." data-val-regex-pattern="^[0-9]{7}[A-Z]{1}$" />
                                    <span class="text-danger field-validation-valid" data-valmsg-for="txtSusno" data-valmsg-replace="true"></span>
                                </div>
                            </div>
                            <div class="form-group row mb-2">
                                <label class="col-form-label col-sm-4 fw-bold">Unit <i class="fas fa-asterisk mand1"></i></label>
                                <div class="col-sm-8">
                                    <input class="form-control" placeholder="Enter Unit" name="txtUnit" id="txtUnit" maxlength="100" data-val="true" data-val-regex="This special chars not allowed for security reasons." data-val-required="Unit is required." data-val-regex-pattern="^[\w ]+$" />
                                    <span class="text-danger field-validation-valid" data-valmsg-for="txtUnit" data-valmsg-replace="true"></span>
                                </div>
                            </div>
                            <div class="form-group row mb-2">
                                <label class="col-form-label col-sm-4 fw-bold">Select Unit Type <i class="fas fa-asterisk mand1"></i></label>
                                <div class="col-sm-8">
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="UnitTyperdi" id="UnitType1" value="1" checked>
                                        <label class="form-check-label" for="UnitType1">Unit</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="UnitTyperdi" id="UnitType2" value="2">
                                        <label class="form-check-label" for="UnitType2">Unit (Fmn HQ)</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="UnitTyperdi" id="UnitType3" value="3">
                                        <label class="form-check-label" for="UnitType3">Unit (Dte/Branch)</label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row mb-2 unittype">
                                <label class="col-form-label col-sm-4 fw-bold">Comd / PSO<i class="fas fa-asterisk mand1"></i></label>
                                <div class="col-sm-8">
                                    <select class="form-select" style="width: 100%;" tabindex="-1" aria-hidden="true" name="ddlCommand" id="ddlCommand" data-val="true" data-val-regex="This special chars not allowed for security reasons." data-val-required="Comd / PSO is required." data-val-regex-pattern="^[\d]+$">
                                        <option value="0">Select Comd / PSO </option>
                                    </select>
                                    <span class="text-danger field-validation-valid" data-valmsg-for="ddlCommand" data-valmsg-replace="true"></span>
                                </div>
                            </div>
                            <div class="form-group row mb-4 unittype">
                                <label class="col-form-label col-sm-4 fw-bold">Corps / Dte / Area<i class="fas fa-asterisk mand1"></i></label>
                                <div class="col-sm-8">
                                    <select class="form-select" style="width: 100%;" tabindex="-1" aria-hidden="true" name="ddlCorps" id="ddlCorps" data-val="true" data-val-regex="This special chars not allowed for security reasons." data-val-required="Corps / Dte / Area is required." data-val-regex-pattern="^[\d]+$">
                                        <option value="0">Select Corps / Dte / Area </option>
                                    </select>
                                    <span class="text-danger field-validation-valid" data-valmsg-for="ddlCorps" data-valmsg-replace="true"></span>
                                </div>
                            </div>
                            <div class="form-group row mb-2 unittype">
                                <label class="col-form-label col-sm-4 fw-bold">Div  /Branch / Sub Area<i class="fas fa-asterisk mand1"></i></label>
                                <div class="col-sm-8">
                                    <select class="form-select" style="width: 100%;" tabindex="-1" aria-hidden="true" name="ddlDiv" id="ddlDiv" data-val="true" data-val-regex="This special chars not allowed for security reasons." data-val-required="Div  /Branch / SubArea is required." data-val-regex-pattern="^[\d]+$">
                                        <option value="0">Select Div  /Branch / SubArea </option>
                                    </select>
                                    <span class="text-danger field-validation-valid" data-valmsg-for="ddlDiv" data-valmsg-replace="true"></span>
                                </div>
                            </div>
                            <div class="form-group row mb-2 unittype">
                                <label class="col-form-label col-sm-4 fw-bold">Bde<i class="fas fa-asterisk mand1"></i></label>
                                <div class="col-sm-8">
                                    <select class="form-select" style="width: 100%;" tabindex="-1" aria-hidden="true" name="ddlBde" id="ddlBde" data-val="true" data-val-regex="This special chars not allowed for security reasons." data-val-required="Bde is required." data-val-regex-pattern="^[\d]+$">
                                        <option value="0">Select Bde </option>
                                    </select>
                                    <span class="text-danger field-validation-valid" data-valmsg-for="ddlBde" data-valmsg-replace="true"></span>
                                </div>
                            </div>
                            <div class="form-group row mb-2 FmnBranch  d-none">
                                <label class="col-form-label col-sm-4 fw-bold">Type of Fmn /Branch<i class="fas fa-asterisk mand1"></i></label>
                                <div class="col-sm-8">
                                    <select class="form-select" style="width: 100%;" tabindex="-1" aria-hidden="true" name="ddlFmnBranch" id="ddlFmnBranch" data-val="true" data-val-regex="This special chars not allowed for security reasons." data-val-required="Type of Fmn /Branch is required." data-val-regex-pattern="^[\d]+$">
                                        <option value="1">Select Fmn/Branch </option>
                                    </select>
                                    <span class="text-danger field-validation-valid" data-valmsg-for="ddlFmnBranch" data-valmsg-replace="true"></span>
                                </div>
                            </div>
                            <div class="form-group row mb-2 DteBranch d-none">
                                <label class="col-form-label col-sm-4 fw-bold">PSO /Dte<i class="fas fa-asterisk mand1"></i></label>
                                <div class="col-sm-8">
                                    <select class="form-select" style="width: 100%;" tabindex="-1" aria-hidden="true" name="ddlPSODte" id="ddlPSODte" data-val="true" data-val-regex="This special chars not allowed for security reasons." data-val-required="PSO /Dte is required." data-val-regex-pattern="^[\d]+$">
                                        <option value="1">Select PSO /Dte</option>
                                    </select>
                                    <span class="text-danger field-validation-valid" data-valmsg-for="ddlPSODte" data-valmsg-replace="true"></span>
                                </div>
                            </div>
                            <div class="form-group row mb-2 DteBranch d-none">
                                <label class="col-form-label col-sm-4 fw-bold">DG / Sub Dte<i class="fas fa-asterisk mand1"></i></label>
                                <div class="col-sm-8">
                                    <select class="form-select" style="width: 100%;" tabindex="-1" aria-hidden="true" name="ddlDgSubDte" id="ddlDgSubDte" data-val="true" data-val-regex="This special chars not allowed for security reasons." data-val-required="DG / Sub Dte is required." data-val-regex-pattern="^[\d]+$">
                                        <option value="1">Select DG / Sub Dte</option>
                                    </select>
                                    <span class="text-danger field-validation-valid" data-valmsg-for="ddlDgSubDte" data-valmsg-replace="true"></span>
                                </div>
                            </div>
                            <div class="form-group row mb-2">
                                <label class="col-form-label col-sm-4 fw-bold">Mobile No<i class="fas fa-asterisk mand1"></i></label>
                                <div class="col-sm-8">
                                    <input class="form-control allow-number" placeholder="Enter Mobile No" type="text" data-val="true" data-val-maxlength="Maximum length of Mobile No is ten digit." data-val-maxlength-max="10" data-val-minlength="Minimum length of Mobile No is ten digit." data-val-minlength-min="10" data-val-regex="Mobile No. is invalid." data-val-regex-pattern="^[\d]+$" data-val-required="Mobile No  is required." id="txtMobileNo" maxlength="10" name="txtMobileNo" value="">
                                    <span class="text-danger field-validation-valid" data-valmsg-for="txtMobileNo" data-valmsg-replace="true"></span>
                                </div>
                            </div>
                            <div class="form-group row mb-2">
                                <label class="col-form-label col-sm-4 fw-bold">Army Contact No<i class="fas fa-asterisk mand1"></i></label>
                                <div class="col-sm-4">
                                    <input class="form-control allow-number" placeholder="Enter ASCON Dialing" type="text" data-val="true" data-val-maxlength="Maximum length of ASCON Dialing is six digit." data-val-maxlength-max="6" data-val-minlength="Minimum length of ASCON Dialing is six digit." data-val-minlength-min="6" data-val-regex="Dialing code is invalid." data-val-regex-pattern="^[\d]+$" data-val-required="ASCON Dialing  is required." id="txtDialingCode" maxlength="6" name="txtDialingCode" value="">
                                    <span class="text-danger field-validation-valid" data-valmsg-for="txtDialingCode" data-valmsg-replace="true"></span>
                                </div>
                                <div class="col-sm-4">
                                    <input class="form-control allow-number" placeholder="Enter Extension" type="text" data-val="true" data-val-maxlength="Maximum length of Extension is five digit." data-val-maxlength-max="5" data-val-minlength="Minimum length of Extension is four digit." data-val-minlength-min="4" data-val-regex="Extension is invalid." data-val-regex-pattern="^[\d]+$" data-val-required="Extension is required." id="txtExtension" maxlength="5" name="txtExtension" value="">
                                    <span class="text-danger field-validation-valid" data-valmsg-for="txtExtension" data-valmsg-replace="true"></span>
                                </div>
                            </div>
                            <div class="col-sm-12 text-right">
                                <input type="button" class="btn btn-primary " value="Save" id="btnUnitMapsave" />
                                <button type="button" id="btnUnitMapReset" class="btn btn-outline-danger">Reset</button>
                            </div>
                            <div class="col-sm-12" id="msg">
                            </div>
                        </div>
                    </form>
                    <div class="col-sm-12" id="msg">
                    </div>
                </div>
            </div>

        </div><!-- modal-content -->
    </div><!-- modal-dialog -->
</div>