@model IEnumerable<DataTransferObject.Response.DTOPostingOutDetilsResponse>

@{

    ViewData["Title"] = "GetPostingOut";
}
<script src="https://cdn.rawgit.com/eKoopmans/html2pdf/0.9.2/dist/html2pdf.bundle.js"></script>

<div class="container1">
    <div class="card mb-3 ">
        <div class="card-header">


            <div class="row">
                <div class="col-xl-12 text-left">
                    @if (ViewBag.Type == 1)
                    {
                        <h3>Posting Out Offrs Details</h3>

                        <small class="text-muted"></small>
                    }
                    else if (ViewBag.Type == 2)
                    {
                        <h3>Posting Out JCO's/OR Details</h3>

                        <small class="text-muted"></small>
                    }
                </div>
            </div>
        </div>



        <div class="card-body">
            <div class="row">
                <div class="col-xl-12">
                    <div class="mb-2 d-md-flex justify-content-md-between align-items-md-center">
                        <h6 class="mb-3 mb-md-0">
                            @*   Total Units <span id="lblTotal" class="ml-3 border border-light b px-2 py-1">0</span> *@
                        </h6>
                        <div class="d-flex">
                            @*   <label class="form-label mr-2">From</label>
                            <input type="date" class="form-control mr-2" id="FmDate" />
                            <label class="form-label mr-2">To</label>
                            <input type="date" class="form-control ml-2" id="ToDate" /> *@

                        </div>

                    </div>
                    <table class="table border border-purple table-striped no-footer dataTable table-hover" role="grid" id="tbldatatabledata">
                        <thead>
                            <tr>
                                <th>Ser No</th>
                                <th>Updated Dt</th>
                                <th>
                                    Service No , Rank , Name
                                </th>
                                <th>Reason</th>
                                <th>SOS Dt</th>
                                <th>From Unit</th>
                                <th>To Unit</th>
                                <th>Auth</th>

                            </tr>
                        </thead>
                        <tbody>
                            @{
                                int asrl = 0;
                            }
                            @foreach (var item in Model)
                            {
                                asrl++;
                                <tr>

                                    <td> @asrl </td>
                                    <td> @Html.DisplayFor(modelItem => item.UpdatedOn)</td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ServiceNo)
                                        <br>
                                        @Html.DisplayFor(modelItem => item.Rank)


                                        @Html.DisplayFor(modelItem => item.Name)

                                        @* @Html.DisplayFor(modelItem => item.FromDomainId) *@
                                    </td>
                                    <td>

                                        @Html.DisplayFor(modelItem => item.Reason)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.SOSDate)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.FromUnitName) <br />
                                        @Html.DisplayFor(modelItem => item.FromDomainId) <br />

                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ToUnitName) <br />
                                        @Html.DisplayFor(modelItem => item.ToDomainId) <br />
                                    </td>

                                    <td>
                                        @Html.DisplayFor(modelItem => item.Authority)
                                    </td>

                                </tr>
                            }
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>

</div>
</div>
