@model List<DTOBasicDetailTempRequest>
<header class="page-header page-header-dark bg-gradient-primary-to-secondary pb-10">
    <div class="containerMain">
        <div class="page-header-content pt-4">
            <div class="row align-items-center justify-content-between">
                <div class="col-auto">
                    <h1 class="page-header-title">
                        <div class="page-header-icon"> <i class="fa fa-bars"></i></div>
                        <a href="/Home/Index" class="mr-2">Home</a> > <a href="/Home/Dashboard" class="mr-2">Dashboard</a>  > Inaccurate Data


                    </h1>
                </div>
            </div>

        </div>
    </div>
</header>
<div class="containerMain mt-n10">
    <div class="card mb-3 ">
        <div class="card-header">
            <div class="row">
                <div class="col-xl-12 text-left">
                    <h3>
                        @ViewBag.Title
                        <small class="text-muted"></small>
                    </h3>
                </div>
            </div>
        </div>
            <div class="card-body" style="min-height:150px;">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="table-responsive">
                            <table id="tbldatatabledata" class="table border border-purple table-striped no-footer table-hover" style="width:100%">
                                <thead>
                                    <tr>
                                        <th>@Html.DisplayNameFor(model => model[0].Sno)</th>
                                        <th>Army No</th>
                                        <th>Name</th>
                                        <th>Created On</th>
                                   @*  <th class="wrap">Dt of Commissioning/Enrolment</th> *@
                                        @* <th>@Html.DisplayNameFor(model => model[0].PermanentAddress)</th> *@
                                        <th>Observation</th>
                                        <th class="noExport">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        string[] rem = null;
                                        if (item.Remarks2 != null)
                                            rem = item.Remarks2.Split("#");

                                        <tr>
                                            <td>@item.Sno</td>
                                            <td>@item.ServiceNo</td>
                                            <td>@item.RankName @item.FName + (@item.LName == null ? "" : "" + @item.LName)</td>
                                            <td>@item.UpdatedOn.ToString().Replace("-","/").Replace("00:00:00","")</td>
                                           @*  <td>@item.DateOfCommissioning.ToString("dd/MMM/yyyy")</td> *@
                                           @*  <td>
                                            <span>@item.Village , @item.Tehsil</span>
                                            <span>@item.PO , @item.PS</span><br><br>
                                            <span>@item.State , @item.District </span><br><br>
                                            <span>@item.PinCode</span>
                                                
                                                
                                                
                                                
                                                
                                                
                                                
                                                </td> *@
                                           <td>
                                                <ul >
                                            @if (rem!=null)
                                            {
                                                foreach (var data in rem)
                                                {
                                                            <li >@data</li>
                                                }
                                            }
                                                </ul>
                                            </td>
                                        <td> <a asp-controller="BasicDetail" asp-action="InaccurateDataView" asp-route-Id="@item.EncryptedId" class="btn btn-primary mr-2 ">View Details</a>
                                            <span id="RegistrationApplyFor" class="d-none">@item.RegistrationId</span>
                                            <span id="OffType" class="d-none">@item.ApplyForId</span>
                                            <span id="lCardType" class="d-none">@item.TypeId</span>
                                            <span id="ArmyNo" class="d-none">@item.ServiceNo</span>
                                            <button class="cls-btnRetry btn btn-success" id="btnRetry">Retry</button>
                                        </td>
                                            @*                                 <td>
                                        <div class="d-flex p-2">
                                        <a asp-controller="BasicDetail" asp-action="RegistrationEdit" asp-route-Id="@item.EncryptedId" class="text-primary mr-2"><i class="fas fa-edit fa-lg"></i></a>
                                        </div>

                                        </td> *@
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
       
    </div>
</div>
@section Scripts{
    <script asp-src-include="~/js/CustomScript.js"></script>
}
