@model List<BasicDetailVM>
<div class="container1 mt-4">
    <div class="card mb-3 ">
        <div class="card-header">
            <div class="row">
                <div class="col-xl-12 text-left">
                    <h3>
                        @ViewBag.Title
                        <small class="text-muted"></small>
                    </h3>
                </div>
            </div>
        </div>
        <div class="card-body" style="min-height:150px;">
            <div class="row">
                <div class="col-xl-12">
                    <div class="table-responsive">
                        <table id="tbldatatabledata" class="table border border-purple table-striped no-footer dataTable table-hover" style="width:100%">
                            <thead>
                                <tr>
                                    <th>@Html.DisplayNameFor(model => model[0].Sno)</th>
                                    <th>@Html.DisplayNameFor(model => model[0].Name)</th>
                                    <th>@Html.DisplayNameFor(model => model[0].ServiceNo)</th>
                                    <th>@Html.DisplayNameFor(model => model[0].DOB)</th>
                               @*      <th>@Html.DisplayNameFor(model => model[0].DateOfCommissioning)</th> *@
                                    <th>@Html.DisplayNameFor(model => model[0].PermanentAddress)</th>
                                    
                                    <th>@Html.DisplayNameFor(model => model[0].ICardType)</th>
                                    <th>History</th>
                                    <th class="noExport">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@item.Sno</td>
                                        <td class="PersName">@item.Name</td>
                                        <td class="ServiceNo">@item.ServiceNo</td>
                                        <td>@item.DOB.ToString("dd/MMM/yyyy")</td>
                                        @* <td>@item.DateOfCommissioning.ToString("dd/MMM/yyyy")</td> *@
                                        <td>@item.PermanentAddress</td>
                                        @* <td>@item.Registration.Name </td> *@
                                        <td>@item.ICardType</td>
                                        <td><button class="btn btn-icon btn-round btn-primary mr-1 historyRequest"><i class="fa fa-history" aria-hidden="true"></i></button></td>
                                        <td class="noExport">
                                            <div class="d-flex p-2">

                                                <a asp-controller="BasicDetail" asp-action="View" asp-route-Id="@item.EncryptedId" class="btn btn-icon btn-round btn-primary mr-1"><i class="fa fa-print mt-2"></i></a>
                                                @if (ViewBag.Id == 1)
                                                {
                                                    <a asp-controller="BasicDetail" asp-action="BasicDetail" asp-route-Id="@item.EncryptedId" class="btn btn-icon btn-round btn-warning mr-1"><i class="fas fa-edit mt-2"></i></a>

                                                    <form method="post" asp-controller="BasicDetail" asp-action="delete" asp-route-Id="@item.EncryptedId">
                                                        <span id="confirmDeleteSpan_@item.BasicDetailId" style="display:none">
                                                            <span>Are you sure you want to delete ?</span>
                                                            <button type="submit" class="btn btn-danger">Yes</button>
                                                            <a href="#" class="btn btn-primary" onclick="confirmDelete('@item.BasicDetailId',false)">No</a>
                                                        </span>
                                                        <span id="deleteSpan_@item.BasicDetailId">
                                                            <a href="#" class="btn btn-icon btn-round btn-danger mr-1" onclick="confirmDelete('@item.BasicDetailId',true)"><i class="fas fa-trash-alt m-2"></i></a>
                                                        </span>
                                                    </form>
                                                    <spna class="spnBasicDetailId d-none">@item.BasicDetailId</spna>
                                                    <spna class="spnRequestId d-none">@item.RequestId</spna>
                                                    <spna class="spnStepCounterId d-none">@item.StepCounter</spna>
                                                    <spna class="spnStepId d-none">@item.StepId</spna>
                                                    @if (item.StepCounter>1)
                                                    {
                                                        <button class="btn btn-danger mr-1">Processed</button>

                                                    }
                                                    else
                                                    {
                                                        @if (string.IsNullOrEmpty(item.Reject))
                                                        {
                                                            <button class="btn btn-icon btn-round btn-primary mr-1 fwdrecord"><i class="fa fa-step-forward"></i></button>
                                                        }
                                                        else
                                                        {
                                                            <button class="btn btn-primary mr-1" data-toggle="tooltip" data-placement="left" title="@item.Reject">Rejected</button>
                                                            
                                                        }

                                                    }
                                                }
                                            </div>
                                           

                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div><!-- Row End -->
    </div>
</div>

@section Scripts{
    <script asp-src-include="~/js/CustomScript.js"></script>
    <script asp-src-include="~/developerjs/fwdrecord.js"></script>
    <script asp-src-include="~/developerjs/token.js"></script>
}