@model List<BasicDetailVM>

<header class="page-header page-header-dark bg-gradient-primary-to-secondary pb-10">
    <div class="containerMain">
        <div class="page-header-content pt-4">
            <div class="row align-items-center justify-content-between">
                <div class="col-auto">
                    <h1 class="page-header-title">
                        <div class="page-header-icon"> <i class="fa fa-bars"></i></div>
                        @if (Convert.ToString(ViewBag.Id) == "0")
                        {
                            <div>
                                <a href="/Home/Index" class="mr-2">Home</a> > <a href="/Home/Dashboard" class="mr-2">Dashboard</a>  >
                                @if (string.IsNullOrEmpty(Convert.ToString(ViewBag.jcoor)))
                                {
                                    <span>Appl All I-Card</span>
                                }
                                else
                                {
                                    <span>Appl All I-Card</span>
                                }

                            </div>
                        }
                        
                        else @if (Convert.ToString(ViewBag.Id) == "1")
                        {
                            <div>
                                <a href="/Home/Index" class="mr-2">Home</a> > <a href="/Home/Dashboard" class="mr-2">Dashboard</a>  > <a href="/Home/SubDashboard" class="mr-2">Sub Dashboard</a>  > <a href="/Home/RequestDashboard/RHJhZnRlZA==" class="mr-2">Drafted Appl</a> >
                                @if (string.IsNullOrEmpty(Convert.ToString(ViewBag.jcoor)))
                                {
                                    <span>Appl Drafted for Offrs</span>
                                }
                                else
                                {
                                    <span>Appl Drafted for JCO/OR</span>
                                }
                               
                            </div>
                        }
                       else @if (Convert.ToString(ViewBag.Id) == "888")
                        {
                            <div>
                                <a href="/Home/Index" class="mr-2">Home</a> > <a href="/Home/Dashboard" class="mr-2">Dashboard</a>  > <a href="/Home/SubDashboard" class="mr-2">Sub Dashboard</a>  > <a href="/Home/RequestDashboard/U3VibWl0dGVk" class="mr-2">Submitted</a> >
                                @if (string.IsNullOrEmpty(Convert.ToString(ViewBag.jcoor)))
                                {
                                    <span>Appl Submitted for Offrs</span>
                                }
                                else
                                {
                                    <span>Appl Submitted for JCO/OR</span>
                                }

                            </div>
                        }
                       else @if (Convert.ToString(ViewBag.Id) == "999")
                        {
                            <div>
                                <a href="/Home/Index" class="mr-2">Home</a> > <a href="/Home/Dashboard" class="mr-2">Dashboard</a>  > <a href="/Home/SubDashboard" class="mr-2">Sub Dashboard</a>  > <a href="/Home/RequestDashboard/UmVqZWN0ZWQ=" class="mr-2">Rejected</a> >
                                @if (string.IsNullOrEmpty(Convert.ToString(ViewBag.jcoor)))
                                {
                                    <span>Appl Rejected for Offrs</span>
                                }
                                else
                                {
                                    <span>Appl Rejected for Jco/Or</span>
                                }

                            </div>
                        }
                        else
                        {
                            <div>
                                <a href="/Home/Index" class="mr-2">Home</a> > <a href="/Home/Task" class="mr-2">Task</a> > @ViewBag.Title
                               

                            </div>
                        }
                       
                    </h1>
                </div>
            </div>

        </div>
    </div>
</header>
<div class="containerMain mt-n10">
    <div class="card mb-3 ">
        <div class="card-header">
            <div class="row">
                <div class="col-xl-12 text-left">
                    <h3>
                        @ViewBag.Title
                        <small class="text-muted"></small>
                    </h3>
                </div>
            </div>
        </div>
        <div class="card-body" style="min-height:150px;">
            <div class="row">
                <div class="col-xl-12">
                    <div class="table-responsive">
                        <table id="tbldatatabledata" class="table border border-purple table-striped no-footer dataTable table-hover" style="width:100%">
                            <thead> 
                                <tr>
                                    <th>@Html.DisplayNameFor(model => model[0].Sno)</th>
                                    <th>@Html.DisplayNameFor(model => model[0].ServiceNo)</th>
                                    <th>Rank , @Html.DisplayNameFor(model => model[0].Name)</th>
                                   
                                  @*   <th>@Html.DisplayNameFor(model => model[0].DOB)</th> *@
                               @*      <th>@Html.DisplayNameFor(model => model[0].DateOfCommissioning)</th> *@
                                    @* <th>Address</th> *@
                                    <th>Appl Id</th>
                                    <th>Type</th>
                                    <th>Reason for Requisition</th>
                                    <th class="noExport">History</th>
                                    <th class="noExport">Print / Edit / Fwd</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@item.Sno</td>
                                        <td class="ServiceNo">@item.ServiceNo</td>
                                        <td class="PersName">@item.RankName @item.Name</td>
                                        
                                       @*  <td>@item.DOB.ToString("dd/MMM/yyyy")</td> *@
                                        @* <td>@item.DateOfCommissioning.ToString("dd/MMM/yyyy")</td> *@
                                        @* <td>@item.PermanentAddress</td> *@
                                        <td>@item.TrackingId</td>
                                        <td>@item.ApplyFor </td>
                                        <td>@item.ICardType</td>
                                        <td class="noExport"><button class="btn btn-icon btn-round btn-primary mr-1 historyRequest" data-toggle="tooltip" data-placement="left" title="@item.Remark"><i class="fa fa-history" aria-hidden="true"></i></button></td>
                                        <td class="noExport">
                                            <div class="d-flex p-2">

                                                <a asp-controller="BasicDetail" asp-action="View" asp-route-Id="@item.EncryptedId" class="btn btn-icon btn-round btn-primary mr-2"><i class="fa fa-print mt-2"></i></a>
                                                
                                                    <spna class="spnBasicDetailId d-none">@item.BasicDetailId</spna>
                                                    <spna class="spnRequestId d-none">@item.RequestId</spna>
                                                    <spna class="spnStepCounterId d-none">@item.StepCounter</spna>
                                                    <spna class="spnStepId d-none">@item.StepId</spna>
                                                    <spna class="spnApplyFor d-none">@item.ApplyForId</spna>

                                                @if ((item.StepCounter == 1 || item.StepCounter == 7 || item.StepCounter == 8 || item.StepCounter == 9 || item.StepCounter == 10)  && ViewBag.Id == 0)
                                                    {
                                                        <a asp-controller="BasicDetail" asp-action="BasicDetail" asp-route-Id="@item.EncryptedId" class="btn btn-icon btn-round btn-warning mr-2"><i class="fas fa-edit mt-2"></i></a>

                                                        <form method="post" asp-controller="BasicDetail" asp-action="delete" asp-route-Id="@item.EncryptedId">
                                                            <span id="confirmDeleteSpan_@item.BasicDetailId" style="display:none">
                                                                <span>Are you sure you want to delete ?</span>
                                                                <button type="submit" class="btn btn-danger">Yes</button>
                                                                <a href="#" class="btn btn-primary" onclick="confirmDelete('@item.BasicDetailId',false)">No</a>
                                                            </span>
                                                           @*  <span id="deleteSpan_@item.BasicDetailId">
                                                                <a href="#" class="btn btn-icon btn-round btn-danger mr-1" onclick="confirmDelete('@item.BasicDetailId',true)"><i class="fas fa-trash-alt m-2"></i></a>
                                                            </span> *@
                                                        </form>
                                                        <button class="btn btn-icon btn-round btn-primary mr-1 fwdrecord"><i class="fa fa-step-forward"></i></button>
                                                   
                                                    }


                                                @if (item.StepCounter >= 2 && item.StepCounter<=6)
                                                    {
                                                        <span class="badge rounded-pill bg-light text-primary mt-3">Processed</span>

                                                        

                                                    }
                                                    else
                                                    {
                                                    @if (item.Reject==0)
                                                     {

                                                        <span class="badge rounded-pill bg-light text-danger mt-3" data-toggle="tooltip" data-placement="left" title="@item.Remark">Rejected</span>
                                                         
                                                     }
                                                        

                                                    }
                                                
                                            </div>
                                           

                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div><!-- Row End -->
    </div>
</div>

@section Scripts{
    <script asp-src-include="~/js/CustomScript.js"></script>
    <script asp-src-include="~/developerjs/fwdrecord.js"></script>
    <script asp-src-include="~/developerjs/token.js"></script>
    <script src="~/developerjs/mtables.js"></script>
}