@using System.Security.Claims;
@using Web.WebHelpers;
@using Microsoft.AspNetCore.Mvc;
@inject SignInManager<ApplicationUser> signInManager;
@inject UserManager<ApplicationUser> userManager;
@inject IHttpContextAccessor HttpContextAccessor
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="icon" type="image/x-icon" href="/images/AFSAC_icon.png">
    <meta content='width=device-width, initial-scale=1.0, shrink-to-fit=no' name='viewport' />
    @* <meta http-equiv="content-security-policy"content="default-src 'none'; script-src 'self'; connect-src 'self'; img-src 'self'; style-src 'self' 'sha256-CwE3Bg0VYQOIdNAkbB/Btdkhul49qZuwgNCMPgNY5zw=';" /> *@
    <title> E-ISAC</title>
   
    <link href="~/fonts/css/all.min.css" rel="stylesheet" />
    <link href="~/css/nunito.css" rel="stylesheet" />
    <link href="~/css/roboto.css" rel="stylesheet" />
   
    <link href="~/sweetalert2/sweetalert2.min.css" rel="stylesheet" />
    <link href="~/css/bootstrap-datetimepicker.min.css" rel="stylesheet" />
    <link href="~/datatables/dataTables.bootstrap4.min.css" rel="stylesheet" />
    <link href="~/datatables/responsive.bootstrap4.min.css" rel="stylesheet" />
    <link href="~/datatables/responsive.dataTables.min.css" rel="stylesheet" />
    <link href="~/datatables/buttons.bootstrap4.min.css" rel="stylesheet" />
    <link href="~/datatables/fixedHeader.dataTables.min.css" rel="stylesheet" />
    <link href="~/datatables/jquery.dataTables.min.css" rel="stylesheet" />
    <link href="~/css/style.css" rel="stylesheet" />
    <link href="~/css/extra.css" rel="stylesheet" />
    <link href="~/css/background.css" rel="stylesheet" />
    <link href="~/css/typography.css" rel="stylesheet" />
    <link href="~/select2/css/select2.min.css" rel="stylesheet" />
    <link href="~/css/cssStyle.css" rel="stylesheet" />
   @*  <link href="~/css/cssStyle.css" rel="stylesheet" /> *@


    <link href="~/css/horizontaltimeline.css" rel="stylesheet" />

    <script asp-src-include="~/fonts/feather/feather.min.js"></script>
    <script asp-src-include="~/fonts/allfont/webfont.min.js"></script>
    <link href="~/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/lib/jqueryui/themes/base/jquery-ui.min.css" rel="stylesheet" />

    <link href="~/toastr/toastr.min.css" rel="stylesheet" />
    <link href="~/css/main.css" rel="stylesheet" />
    <link href="~/css/DashBoard.css" rel="stylesheet" />

    <script asp-src-include="~/lib/jquery/jquery.js"></script>
    <script asp-src-include="~/lib/jquery-validate/jquery.validate.js" defer></script>
    <script asp-src-include="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js" defer></script>
  
  @*   <script>
        WebFont.load({
            google: { "families": ["Roboto:300,400,500,700,900"] },
            custom: { "families": ["Flaticon", "Font Awesome 5 Solid", "Font Awesome 5 Regular", "Font Awesome 5 Brands", "simple-line-icons"], urls: ['../fonts/AllFont/fonts.min.css'] },
            active: function () {
                sessionStorage.fonts = true;
            }
        });

    </script> *@
    @* <script type="text/javascript">
        function preventBack() { window.history.forward(); }
        setTimeout("preventBack()", 0);
        window.onunload = function () { null };
    </script> *@
    <style>


        .select2-container--default .select2-selection--multiple .select2-selection__choice {
            font-size: .925rem;
        }

        footer {
            text-align: center;
            padding: 5px;
            background: linear-gradient(90deg, rgba(0,211,255,1) 0%, rgba(12,141,242,1) 66%, rgba(22,125,207,1) 99%);
            color: white;
            margin-top:20px;
        }
          
    </style>
    <style>
        .select2-hidden-accessible {
            border: 0 !important;
            clip: rect(0 0 0 0) !important;
            height: 1px !important;
            margin: -1px !important;
            overflow: hidden !important;
            padding: 0 !important;
            position: absolute !important;
            width: 1px !important
        }

        .form-control {
            display: block;
            width: 100%;
            height: 34px;
            padding: 6px 12px;
            font-size: 14px;
            line-height: 1.42857143;
            color: #555;
            background-color: #fff;
            background-image: none;
            border: 1px solid #ccc;
            border-radius: 4px;
            -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
            -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
            -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
            transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s
        }

        .form-control1 {
            display: block;
            width: 100%;
            height: 34px;
            padding: 6px 12px;
            font-size: 14px;
            line-height: 1.42857143;
            color: #555;
            background-color: #fff;
            background-image: none;
            border: 1px solid #ccc;
            border-radius: 4px;
            -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
            -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
            -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
            transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s
        }

        .form-control1:focus {
            border-color: #66afe9;
            outline: 0;
            -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
        }
        .form-control-domainId {
            display: block;
            width: 100%;
            height: 34px;
            padding: 6px 12px;
            font-size: 14px;
            line-height: 1.42857143;
            color: #555;
            background-color: #fff;
            background-image: none;
            border: 1px solid #ccc;
            border-radius: 4px;
            -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
            -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
            -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
            transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s
        }

        .form-control-domainId:focus {
            border-color: #66afe9;
            outline: 0;
            -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
        }

        .select2-container--default .select2-selection--single,
        .select2-selection .select2-selection--single {
            border: 1px solid #d2d6de;
            border-radius: 0;
            padding: 6px 12px;
            height: 34px
        }

        .select2-container--default .select2-selection--single {
            background-color: #fff;
            border: 1px solid #aaa;
            border-radius: 4px
        }

        .select2-container .select2-selection--single {
            box-sizing: border-box;
            cursor: pointer;
            display: block;
            height: 28px;
            user-select: none;
            -webkit-user-select: none
        }

            .select2-container .select2-selection--single .select2-selection__rendered {
                padding-right: 10px
            }

            .select2-container .select2-selection--single .select2-selection__rendered {
                padding-left: 0;
                padding-right: 0;
                height: auto;
                margin-top: -3px
            }

        .select2-container--default .select2-selection--single .select2-selection__rendered {
            color: #444;
            line-height: 28px
        }

        .select2-container--default .select2-selection--single,
        .select2-selection .select2-selection--single {
            border: 1px solid #d2d6de;
            border-radius: 0 !important;
            padding: 6px 12px;
            height: 40px !important
        }

            .select2-container--default .select2-selection--single .select2-selection__arrow {
                height: 26px;
                position: absolute;
                top: 6px !important;
                right: 1px;
                width: 20px;
            }

        .unit-label-background {
            background-color: #e9ecef;
            max-width: 200px;
            min-width: 200px;
            height:45px;
        }
        .select2-dropdown{
            color:black;
            text-align:left;
        }
        .select2-container--default .select2-results>.select2-results__options {
        max-height: 200px;
        overflow-y: auto;
        text-align: left;
        }

.modal-body {       
   
    color: black;
        }

        .page-header-title a {
            text-decoration: none !important;
            color: white;
        }
    </style>
</head>
<body class="nav-fixed sidenav-toggled">
  @*   <div id="loading" class="loader">
        <div class="loader-container">
            <img src="/Images/load.gif" width="100">
            <div>
                <h4 style="margin-top: -20px;">Loading...</h4>
                <span>Please wait. This may take few seconds.</span>
            </div>
        </div>
    </div> *@
    @* <div id="loadingToken" class="loader">
    <div class="loader-container">
    <img src="/Images/load.gif" width="100">
    <div>
    <h4 style="margin-top: -20px;" id="tokenmess"></h4>
    <span>Please wait. Read Token....... This may take few seconds.</span>
    </div>
    </div>
    </div> *@
    @{
        var userId = this.User.FindFirstValue(ClaimTypes.NameIdentifier);
        var user = await userManager.FindByIdAsync(userId);
        var RoleList = await userManager.GetRolesAsync(user);

        DtoSession? dtoSession = new DtoSession();
        if (!string.IsNullOrEmpty(@HttpContextAccessor.HttpContext.Session.GetString("Token")))
        {
            dtoSession = SessionHeplers.GetObject<DtoSession>(HttpContextAccessor.HttpContext.Session, "Token");

        }
        var RoleName = dtoSession != null ? dtoSession.RoleName : "User";

    }
    <div class="d-none1" id="IpaddresGloble"></div>
    <div class="d-none" id="postingouthtml"></div>
    <div class="d-none" id="content-container"></div>
    <div class="d-none" id="spnPostedOffrsfornoti"></div>
    <input class="form-control mb-2 d-none form-space" id="txtspnTokenArmyNo"  placeholder="Enter Army No" />
    <input class="form-control mb-2 d-none form-space" id="txtspnTokenthumbprint"  placeholder="Enter Army No" />
    @* <span id="spnroleId" class="d-none">@User.Claims.First(c => c.Type.Contains("roleId")).Value</span>
    <span id="spnarmyno" class="d-none">@User.Claims.First(c => c.Type.Contains("armyNo")).Value</span>
    <span id="spnsunno" class="d-none1">@User.Claims.First(c => c.Type.Contains("SUSNo")).Value</span> *@
    <nav class="topnav navbar navbar-expand shadow navbar-light bg-white show" id="sidenavAccordion">
        <a class="navbar-brand" href="#"><img src="~/Images/dgis_ico.png"></a>
        @* <span class="tagline ml-4 text-center"> Enterprise - Independent Active Secure Access Card (E-IASAC)</span> *@
       @*  <a class="navbar-brand text-center" href="#"><img src="~/Images/EISAC.png"></a> *@
        <div class="ml-4 text-center"><img src="~/Images/EISAC.png" width="50%"></div>
        @*    <span class="tagline ml-4 text-center"> Enterprise - Indian Army Secure Access Card Appl (E-ISAC)</span> *@
      
        @*    <span class="tagline ml-4 text-center"> Enterprise - Indian Army Secure Access Card Appl (E-ISAC)</span> *@
        <ul class="navbar-nav align-items-center ml-auto">
            <!--<li class="mr-3">-->
            @*<a class="p-2 f13 mr-1 rounded-pill shadow-sm mr-1">
            <label id="" class="mb-0">Academic Session : </label>
            <label id="session_month" class="text-pink font-weight-500 mb-0"></label>
            <label id="session_year" class="text-pink font-weight-500 mb-0"></label>
            </a>
            <a class="p-2 f13 mr-1 rounded-pill shadow-sm">
            <label id="" class="mb-0">Supervisor Session : </label>
            <label id="session_monthSup" class="text-pink font-weight-500 mb-0"></label>
            <label id="session_yearSup" class="text-pink font-weight-500 mb-0"></label>
            </a>
            <a class="p-2 f13 rounded-pill shadow-sm">
            <label id="" class="mb-0">Staff Session : </label>
            <label id="session_monthStaff" class="text-pink font-weight-500 mb-0"></label>
            <label id="session_yearStaff" class="text-pink font-weight-500 mb-0"></label>
            </a>*@

            <!--<span id="session_yearID" class="d-none"></span>
                <span id="session_monthID" class="d-none"></span>
            </li>-->

            <li class="nav-item dropdown no-caret mr-2 dropdown-user">
                <a class="dropdown-toggle" id="navbarDropdownUserImage" href="javascript:void(0);" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <div class="row">
                        <div class="col-md-8">
                            <span class="text-white ProfileName font-weight-500">WELCOME</span><br />
                            <span class="text-white ProfileName font-weight-500 mr-1" id="ProfileRankName"></span><span id="ProfileName" class="font-weight-500 mr-2 text-white ProfileName">Username</span><br />
                            <span class="text-white ProfileName font-weight-500">(<span class="text-white ProfileName font-weight-500" id="aspntokenarmyno"></span>)</span>
                        </div>
                        <div class="col-md-4">
                            <img class="mr-2 mt-2" src="/Images/user4.png" />
                        </div>
                    </div>  

                </a>
                <div class="dropdown-menu dropdown-menu-right border-0 pb-0 shadow animated--fade-in-up" aria-labelledby="navbarDropdownUserImage">

                    <h6 class="dropdown-header d-flex align-items-center">
                        <img class="dropdown-user-img" src="/Images/user4.png" />
                        <div class="dropdown-user-details">
                            <div class="dropdown-user-details-name">
                                @user.UserName
                            </div>
                    </h6>
                            <a class="dropdown-item" href="/UserProfile/Profile">
                                <i class="ti-settings text-primary"></i>
                                Edit Profile
                                    <span class="d-none" id="aspndomainUnitID"></span>
                            </a>

                            @foreach (var item in RoleList)
                            {
                                @if (RoleName == item)
                                {
                                    <form method="post" asp-controller="Account" asp-action="SwitchRole" asp-route-Id="@item">
                                        <button type="submit" class="dropdown-item disabled" style="opacity: 0.6;cursor: not-allowed;color:blue;"><i class="ti-settings text-primary"></i><span class="fw-bold">@(user.UserName + " (" + item + ")")</span></button>
                                    </form>
                                }
                                else
                                {
                                    <form method="post" asp-controller="Account" asp-action="SwitchRole" asp-route-Id="@item">
                                        <button type="submit" class="dropdown-item"><i class="ti-settings text-primary"></i><span>@(user.UserName + " (" + item + ")")</span></button>
                                    </form>
                                }
                            }
                    <div class="dropdown-divider"></div>
                   @*  <a class="dropdown-item" href="#" id="btnChangePassword">
                        <div class="dropdown-item-icon"><i class="fa fa-key" aria-hidden="true"></i></div>
                       
                    </a> *@
                    @*<div class="dropdown-divider"></div>*@
                    <a class="dropdown-item active" style="background-color: #0d6efd" href="/Account/Logout" id="btnLogout">
                        <div class="dropdown-item-icon"><i data-feather="log-out"></i></div>
                        Logout
                    </a>
                </div>
            </li>
        </ul>
    </nav>
    <div id="layoutSidenav">
      @*   <div id="layoutSidenav_nav">
            <nav class="sidenav shadow-right sidenav-light" id="SideFirstMenu">
                <div class="sidenav-menu">
                      <div class="nav accordion" id="accordionSidenav">

                    </div>
                    </div>
                    </nav>
        </div> *@
        <div id="layoutSidenav_content">
            <main>
                <div class="main-panel">
                    @if (signInManager.IsSignedIn(User) && RoleName == "User") // User.IsInRole("User")
                    {
                        <nav class="nav nav-pills nav-justified" id="layouttask">
                            <a class="nav-link Dashboard" aria-current="page" href="/Home/Dashboard">DashBoard</a>
                            <a class="nav-link Status" href="/Home/InitiateRequest">
                                Initiate Request
                            </a>
                            <a class="nav-link MyTask" href="/Home/Task">Task</a>
                        </nav>
                    }
                    <div class="content-wrapper">

                        <partial name="_Notification" />
                        @RenderBody()
                       
                        <!-- partial -->
                        <!-- main-panel ends -->
                    </div>
                    <!-- page-body-wrapper ends -->
                </div>
            </main>
        </div>
    </div>
@* 

    @if (IsSectionDefined("Modal"))
    {
        <div class="">
            @RenderSection("Modal", required: false)
        </div>
    }
 *@

    @if (IsSectionDefined("Modal"))
    {
        <div class="">
            @RenderSection("Modal", required: false)
        </div>
    }
    <footer>
         <section class="page_copyright ls section_padding_25">
    <div class="container">
    <div class="row">
    <div class="col-sm-12 text-center darklinks">
    <h5 class="font-weight-600">
    Copyright © 2024. Developed by ASDC , DGIS : Sponsor Dte : ___________
   
    </h5>
    </div>
    </div>
    </div>
    </section>
    </footer>


    @*  <script asp-src-include="~/select2/dist/js/select2.min.js"></script>*@
   @*  @RenderSection("Scripts", false)
    @RenderSection("body_scripts", false) *@
    <script>
        $(document).ready(function () {

            $('[data-toggle="tooltip"]').tooltip();
            $("#loadingToken").hide();

            $("#loading").hide();
            $(document).ajaxStart(function () {
                $("#loading").show();
            }).ajaxStop(function () {
                $("#loading").hide();
            });
            $('.datepicker').datetimepicker({
                format: "L"
            });
            $('.timepicker').datetimepicker({
                format: "LT"
            });
            $('.datetimepicker').datetimepicker({
                sideBySide: true
            });

            $('.PersInfo').on("click", function () {
                sessionStorage.persid = null
            })
        });

    </script>

    <script asp-src-include="~/lib/jqueryui/jquery-ui.min.js"></script>
    <script src="~/js/bootstrap.bundle.min.js"></script>
    <script asp-src-include="~/bootstrap/js/bootstrap.bundle.min.js"></script>

    <script src="~/js/scripts.js"></script>
    <script asp-src-include="~/select2/js/select2.min.js"></script>

    <script asp-src-include="~/js/datatables/jquery.datatables.min.js"></script>
    <script asp-src-include="~/js/datatables/dataTables.responsive.min.js"></script>
    <script asp-src-include="~/js/datatables/responsive.dataTables.min.js"></script>
    <script asp-src-include="~/js/datatables/dataTables.bootstrap4.min.js"></script>
    <script asp-src-include="~/js/datatables/responsive.bootstrap4.min.js"></script>
    <script asp-src-include="~/js/datatables/dataTables.buttons.min.js"></script>
    <script asp-src-include="~/js/datatables/buttons.bootstrap4.min.js"></script>
    <script asp-src-include="~/js/datatables/jszip.min.js"></script>
    <script asp-src-include="~/js/datatables/pdfmake.min.js"></script>
    <script asp-src-include="~/js/datatables/vfs_fonts.js"></script>
    <script asp-src-include="~/js/datatables/buttons.html5.min.js"></script>
    <script asp-src-include="~/js/datatables/buttons.print.min.js"></script>
    <script asp-src-include="~/js/datatables/datatables-call.js"></script>
    @*<script asp-src-include="~/fonts/feather/feather.min.js"></script>*@
    <script asp-src-include="~/sweetalert2/sweetalert2.min.js"></script>
    <script asp-src-include="~/toastr/toastr.min.js"></script>
    <script asp-src-include="~/js/moment.min.js"></script>
    <script asp-src-include="~/js/bootstrap-datetimepicker.min.js"></script>
   
    <script src="~/js/moment.min.js"></script>
   
    <script asp-src-include="~/developerjs/layout.js"></script>
    <script asp-src-include="~/developerjs/keyconstants.js"></script>
    <script asp-src-include="~/developerjs/commanvalidation.js"></script>
    @RenderSection("Scripts", false)
   

</body>
</html>

<!-- Fwd Record  -->
<div class="modal fade" id="FwdRecord" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Forward Appl for  <label class="gsoiotitle"></label></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="card" id="multiplefed">
                    <div class="mt-2 ml-4">
                        <h5 class="card-title fw-bold">Details of Applicant</h5>
                        <div class="row ">
                            <div class="form-group row mb-2">
                                <label class="col-form-label col-sm-4 fw-bold" >Army No</label>
                                <div class="col-sm-8">
                                    <label class="form-control spnFarmyno " readonly></label>
                                </div>
                            </div>
                            <div class="form-group row mb-2">
                                <label class="col-form-label col-sm-4 fw-bold" >Name</label>
                                <div class="col-sm-8">
                                    <label class="form-control spnFname" readonly></label>
                                </div>
                            </div>
                            <div class="form-group row mb-2">
                                <label class="col-form-label col-sm-4 fw-bold">Date & Time</label>
                                <div class="col-sm-8">
                                    <label class="form-control" readonly>@DateTime.Now</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card mt-2">
                    <div class="mt-2 ml-4">
                        <h5 class="card-title fw-bold">Forward To <label class="gsoio"></label></h5>
                        <span id="spnFwdToAspNetUsersId" class="d-none">0</span>
                        <span id="spnFwdToUsersId" class="d-none">0</span>
                        @*  <span id="spnFwssusno" class="d-none">0</span>
                        <span id="spnFrom" class="d-none">0</span>
                        <span id="spnForwardTo" class="d-none">0</span>*@
                        <span id="spnCurrentspnRequestId" class="d-none">0</span>
                        <span id="spnStepCounter" class="d-none">0</span>
                        <h5 class="card-title text-danger" id="ForwardDetails"></h5>
                        <div class="row HProfileDetails">
                            <div class="form-group row mb-2">
                                <label class="col-form-label col-sm-4 fw-bold">Select Offr</label>
                                <div class="col-sm-8">
                                    <select class="form-control select3 select2-hidden-accessible" style="width: 100%;" tabindex="-1"
                                            aria-hidden="true" name="fwdoffrs" required id="ddlfwdoffrs">
                                        <option value="0">Select Offr</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group chkforserach">
                                <div class="col-sm-12 d-flex justify-content-center">
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="Intoffrs" id="intoffsArmyNo">
                                        <label class="form-check-label" for="intoffsArmyNo" >
                                            Army No
                                        </label>
                                    </div>
                                    <div class="form-check form-check-inline d-none">
                                        <input class="form-check-input" type="radio" name="Intoffrs" id="intoffName">
                                        <label class="form-check-label" for="intoffName">
                                            Offr Name
                                        </label>
                                    </div>
                                    <div class="form-check form-check-inline ">
                                        <input class="form-check-input" type="radio" name="Intoffrs" id="intoffDomainId">
                                        <label class="form-check-label" for="intoffName">
                                            Domain ID
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row mb-2 serchfwd d-none">
                                <label class="col-form-label col-sm-4 fw-bold">Army No/Offr Name/Domain ID</label>
                                <div class="col-sm-8">
                                    <input class="form-control Alphanumeric" placeholder="Enter Army No/Offrs Name/DomainId" id="txtFwdName" required pattern="^[a-zA-Z0-9 ]*$" title="Only Alphabets and Numbers allowed" />
                                </div>
                            </div>
                            <div class="form-group row mb-2">
                                <label class="col-form-label col-sm-4 fw-bold">Army No</label>
                                <div class="col-sm-8">
                                    <label class="form-control spnFArmyNo" readonly></label>
                                </div>
                            </div>
                            <div class="form-group row mb-2">
                                <label class="col-form-label col-sm-4 fw-bold"> Rk & Offr Name</label>
                                <div class="col-sm-8">
                                    <label class="form-control spnFtoname" readonly></label>
                                </div>
                            </div>
                            <div class="form-group row mb-2">
                                <label class="col-form-label col-sm-4 fw-bold">Domain ID</label>
                                <div class="col-sm-8">
                                    <label class="form-control spnFDomainName" readonly></label>
                                </div>
                            </div>
                            <div class="form-group row mb-2 Remarks d-none">
                                <label class="col-form-label col-sm-4 fw-bold">Select Remarks</label>
                                <div class="col-sm-8">
                                    <select class="form-control select3 select2-accessible" multiple="" placeholder="Please select a Remarks" style="width: 100%;" tabindex="-1" aria-hidden="true" name="Remarks" required id="ddlRemarks">
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row mb-2">
                                <label class="col-form-label col-sm-4 fw-bold">Other Obsn</label>
                                <div class="col-sm-8">
                                    <textarea class="form-control" id="txtFRemarks" rows="3" maxlength="100"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="col-sm-12 text-center">
                    <div id="tokenmsgforfwd" class="d-grid gap-2 col-12 mx-auto">
                    </div>
                </div>
                <div class="col-sm-12 text-center">
                    <div id="msgforfwd" class="d-grid gap-2 col-12 mx-auto">
                    </div>
                </div>
                <button type="button" class="btn btn-danger" id="btntokenTofwd">
                    Refresh to Fetch Token Details
                </button>
                @* <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Not Approved</button> *@
                <button type="button" class="btn btn-success" id="btnForward">Approved</button>
            </div>
        </div>
    </div>
</div>


<!-- Basic Details   -->
<div class="modal fade " id="BasicDetails" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Basic Details</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="card">
                    <div class="row ">
                        <div class="col-md-12 mb-3">
                            <div class="feature-box3 h-100 shadow-lg p-3 mb-3 bg-body rounded">
                                <div class="top-block_ind d-flex">
                                    <div class="text-block">
                                        <h5 class="mb-1 text-font2 font-weight600">Individual Details</h5>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-8">
                                        <div class="form-group row mb-0">
                                            <label class="col-form-label col-5 text-left">Name</label>
                                            <div class="col-7"><label class="form-control-plaintext b text-black text-uppercase" id="lblfdName"></label></div>
                                        </div>
                                        <div class="form-group row mb-0">
                                            <label class="col-form-label col-5 text-left">Rank</label>
                                            <div class="col-7">
                                                <label class="form-control-plaintext text-uppercase" id="lblfdRank"></label>
                                            </div>
                                        </div>
                                        <div class="form-group row mb-0">
                                            <label class="col-form-label col-5 text-left">Arm / Service</label>
                                            <div class="col-7">
                                                <label class="form-control-plaintext text-uppercase" id="lblLfdarm"></label>
                                            </div>
                                        </div>
                                        <div class="form-group row mb-0">
                                            <label class="col-form-label col-5 text-left">Army No</label>
                                            <div class="col-7">
                                                <label class="form-control-plaintext text-uppercase" id="lblfdArmyNo"></label>
                                            </div>
                                        </div>
                                        <div class="form-group row mb-0">
                                            <label class="col-form-label col-5 text-left">Date of Birth</label>
                                            <div class="col-7">
                                                <label class="form-control-plaintext text-uppercase" id="lblfddob"></label>
                                            </div>
                                        </div>
                                        <div class="form-group row mb-0">
                                            <label class="col-form-label col-5 text-left">Height (Cm)</label>
                                            <div class="col-7">
                                                <label class="form-control-plaintext text-uppercase" id="lblfdheight"></label>
                                            </div>
                                        </div>
                                        <div class="form-group row mb-0">
                                            <label class="col-form-label col-5 text-left">AADHAAR No</label>
                                            <div class="col-7">
                                                <label class="form-control-plaintext text-uppercase" id="lblfdadhar"></label>
                                            </div>
                                        </div>
                                        <div class="form-group row mb-0">
                                            <label class="col-form-label col-5 text-left">Blood Group</label>
                                            <div class="col-7">
                                                <label class="form-control-plaintext text-uppercase" id="lblfdBloodGroup"></label>
                                            </div>
                                        </div>
                                        <div class="form-group row mb-0">
                                            <label class="col-form-label col-5 text-left">Place of Issue</label>
                                            <div class="col-7">
                                                <label class="form-control-plaintext text-uppercase" id="lblfdpoi"></label>
                                            </div>
                                        </div>
                                        <div class="form-group row mb-0">
                                            <label class="col-form-label col-5 text-left">Date of Issue</label>
                                            <div class="col-7">
                                                <label class="form-control-plaintext text-uppercase" id="lblfddoi"></label>
                                            </div>
                                        </div>
                                        <div class="form-group row mb-0">
                                            <label class="col-form-label col-5 text-left">Issuing Authority</label>
                                            <div class="col-7">
                                                <label class="form-control-plaintext text-uppercase" id="lblfdissuA"></label>
                                            </div>
                                        </div>
                                        <div class="form-group row mb-0">
                                            <label class="col-form-label col-5 text-left">Date of Commissioning/ Enrollment</label>
                                            <div class="col-7">
                                                <label class="form-control-plaintext text-uppercase" id="lblfddateo"></label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group row mb-0 ">
                                            <div class="col-12 text-center">
                                                <img src="#" width="200" id="basicphotos" class="border border-primary p-2" onerror="this.src='/images/user4.png';" />

                                                <h6 class="mb-1 text-font2 font-weight500 text-center PersName"></h6>
                                                @*  <div class="text-left"> <img src="~/images/rank/brigadier.svg" id="imgrank" height="100px" /></div> *@
                                            </div>
                                        </div>
                                        <div class="form-group row mb-0 ">
                                            <div class="col-12 text-center">
                                                <img src="#" width="200" height="100" id="Basicsing" class="border border-primary p-2" onerror="this.src='/images/Signature.png';" />
                                                @*<label class="col-form-label recectopt text-left ">Select Rejection Reasons for Signature</label>*@
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-12">
                                        <div class="form-group row mb-0">
                                            <label class="col-form-label col-4 text-left">Identification Mark</label>
                                            <div class="col-8">
                                                <label class="form-control-plaintext text-uppercase" id="lblfdMarks"></label>
                                            </div>
                                        </div>
                                        <div class="form-group row mb-0">
                                            <label class="col-form-label col-4 text-left">Permt Address as per Service Records</label>
                                            <div class="col-8">
                                                <label class="form-control-plaintext text-uppercase" id="lblfdaddress"></label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12 mb-3">
                                        <div class="form-group row mb-2 recectopt">
                                            <label class="col-form-label col-12 text-center">Select Remarks</label>
                                            <div class="col-sm-12">
                                                <select class="form-control select2 select2-accessible text-uppercase" multiple="" placeholder="Please select a Remarks" style="width: 100%;" tabindex="-1" aria-hidden="true" name="Remarks" required id="ddlRRemarks">
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-12 mb-3">
                                            <div class="form-group row mb-0 recectopt">
                                                <label class="col-form-label col-12 text-center">Remarks</label>
                                                <div class="col-12">
                                                    <textarea class="form-control text-uppercase" id="txtFrejectedRemarks" rows="2" maxlength="100"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        @*  <div class="col-md-12 mb-3 ml-3">
                        <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                        <label class="form-check-label" for="inlineCheckbox1">Rejected</label>
                        </div>
                        </div> *@
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-danger" id="btnRejected">Rejected Appl</button>
                <button type="button" class="btn btn-primary" id="btnShowForward">Next</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade right" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="lblHistory">I-Card History</h4>
            </div>

            <div class="modal-body">
                <h5 class="text-center badge badge-success">Step Wise I Card Request History</h5>
                <div class="timeline timeline-xs" id="RequestHistory">
                    <!-- Timeline Item 1-->
                    @* <div class="timeline-item">
                    <div class="timeline-item-marker">
                    <div class="timeline-item-marker-text">27 min</div>
                    <div class="timeline-item-marker-indicator bg-primary"></div>
                    </div>
                    <div class="timeline-item-content">
                    FWD to  IO

                    </div>
                    </div>
                    <div class="timeline-item">
                    <div class="timeline-item-marker">
                    <div class="timeline-item-marker-text">27 min</div>
                    <div class="timeline-item-marker-indicator bg-warning"></div>
                    </div>
                    <div class="timeline-item-content">
                    Approved FROM IO

                    </div>
                    </div>
                    <div class="timeline-item">
                    <div class="timeline-item-marker">
                    <div class="timeline-item-marker-text">27 min</div>
                    <div class="timeline-item-marker-indicator bg-danger"></div>
                    </div>
                    <div class="timeline-item-content">
                    Reject From GSO
                    </div>
                    </div> *@

                </div>
            </div>

        </div><!-- modal-content -->
    </div><!-- modal-dialog -->
</div>
<div class="modal fade" id="unitoffrsModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Search Army No</h5>

                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            @* <input type="hidden" id="armynosearchAllBasicId"> *@
            <div class="modal-body text-center">
                <div class="row">
                    <div class="col-md-4">
                        <img id="armynosearchAllpic" class="armynosearchAllpic">
                    </div>
                    <div class="col-md-8">
                        <input type="text" id="txtarmynosearchAll" placeholder="Enter Army No" class="form-control " />
                        <label class="form-label mt-4" id="armynosearchAllName"></label>
                    </div>
                </div>
            </div>
            <div class="modal-footer">

                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="btnSercharmynoSmart">Ok</button>
            </div>
        </div>
    </div>
</div>


