@using System.Security.Claims;
@using Web.WebHelpers;
@using Microsoft.AspNetCore.Mvc;
@inject SignInManager<ApplicationUser> signInManager;
@inject UserManager<ApplicationUser> userManager;
@inject IHttpContextAccessor HttpContextAccessor
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="icon" type="image/x-icon" href="/images/AFSAC.png">
    <meta content='width=device-width, initial-scale=1.0, shrink-to-fit=no' name='viewport' />
    @* <meta http-equiv="content-security-policy"content="default-src 'none'; script-src 'self'; connect-src 'self'; img-src 'self'; style-src 'self' 'sha256-CwE3Bg0VYQOIdNAkbB/Btdkhul49qZuwgNCMPgNY5zw=';" /> *@
    <title> E-ISAC </title>
    <link href="~/fonts/css/all.min.css" rel="stylesheet" />
    <link href="~/css/nunito.css" rel="stylesheet" />
    <link href="~/css/roboto.css" rel="stylesheet" />
    <link href="~/css/DashBoard.css" rel="stylesheet" />
    <link href="~/sweetalert2/sweetalert2.min.css" rel="stylesheet" />
    <link href="~/css/bootstrap-datetimepicker.min.css" rel="stylesheet" />
   @*  <link href="~/datatables/dataTables.bootstrap4.min.css" rel="stylesheet" />
    <link href="~/datatables/responsive.bootstrap4.min.css" rel="stylesheet" />
    <link href="~/datatables/responsive.dataTables.min.css" rel="stylesheet" />
    <link href="~/datatables/buttons.bootstrap4.min.css" rel="stylesheet" />
    <link href="~/datatables/fixedHeader.dataTables.min.css" rel="stylesheet" />
    <link href="~/datatables/jquery.dataTables.min.css" rel="stylesheet" /> *@
    <link href="~/css/style.css" rel="stylesheet" />
    <link href="~/css/extra.css" rel="stylesheet" />
    <link href="~/css/background.css" rel="stylesheet" />
    <link href="~/css/typography.css" rel="stylesheet" />
    <link href="~/select2/css/select2.min.css" rel="stylesheet" />
    <link href="~/css/cssStyle.css" rel="stylesheet" />


   @*  <link href="~/css/horizontaltimeline.css" rel="stylesheet" /> *@
    @*
    <script asp-src-include="~/fonts/feather/feather.min.js"></script>
    <script asp-src-include="~/fonts/allfont/webfont.min.js"></script> *@
    <script asp-src-include="~/lib/jquery/jquery.js"></script>
@*     <script asp-src-include="~/lib/jquery-validate/jquery.validate.js" defer></script>
    <script asp-src-include="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js" defer></script> *@


    <link href="~/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/lib/jqueryui/themes/base/jquery-ui.min.css" rel="stylesheet" />

    <link href="~/toastr/toastr.min.css" rel="stylesheet" />
    <link href="~/css/main.css" rel="stylesheet" />

    @*  <script type="text/javascript">
    function preventBack() { window.history.forward(); }
    setTimeout("preventBack()", 0);
    window.onunload = function () { null };
    </script> *@


</head>
<body class="nav-fixed">
    @*  <div id="loading" class="loader">
    <div class="loader-container">
    <img src="/Images/load.gif" width="100">
    <div>
    <h4 style="margin-top: -20px;">Loading...</h4>
    <span>Please wait. This may take few seconds.</span>
    </div>
    </div>
    </div> *@
    @*<div id="loadingToken" class="loader">
    <div class="loader-container">
    <img src="/Images/load.gif" width="100">
    <div>
    <h4 style="margin-top: -20px;" id="tokenmess"></h4>
    <span>Please wait. Read Token....... This may take few seconds.</span>
    </div>
    </div>
    </div> *@
    @{
        var userId = this.User.FindFirstValue(ClaimTypes.NameIdentifier);
        var user = await userManager.FindByIdAsync(userId);
        var RoleList = await userManager.GetRolesAsync(user);

        DtoSession? dtoSession = new DtoSession();
        if (!string.IsNullOrEmpty(@HttpContextAccessor.HttpContext.Session.GetString("Token")))
        {
            dtoSession = SessionHeplers.GetObject<DtoSession>(HttpContextAccessor.HttpContext.Session, "Token");

        }
        var RoleName = dtoSession != null ? dtoSession.RoleName : "User";
    }
    <div class="d-none" id="postingouthtml"></div>
    <div class="d-none" id="content-container"></div>
    <div class="d-none" id="spnPostedOffrsfornoti"></div>
    @* <span id="spnroleId" class="d-none">@User.Claims.First(c => c.Type.Contains("roleId")).Value</span>
    <span id="spnarmyno" class="d-none">@User.Claims.First(c => c.Type.Contains("armyNo")).Value</span>
    <span id="spnsunno" class="d-none1">@User.Claims.First(c => c.Type.Contains("SUSNo")).Value</span> *@

    <!-- partial:partials/_navbar.html -->
    <nav class="topnav navbar navbar-expand shadow navbar-light bg-white show" id="sidenavAccordion">
@*         <a class="navbar-brand" href="#"><img src="~/Images/dgis_ico.png"></a>
        <div class="ml-4 text-center"><img src="~/Images/EISAC.png" width="80%"></div> *@
        <div class="text-center tagline"><img src="~/Images/demologo.jpg" width="100%" height="85"></div>
        @* <span class="tagline ml-4 text-center"> Enterprise - Independent Active Secure Access Card (E-IASAC)</span> *@
       @*  <a class="navbar-brand" href="#"><img src="~/Images/EISAC.png"></a> *@

        @*    <span class="tagline ml-4 text-center"> Enterprise - Indian Army Secure Access Card Appl (E-ISAC)</span> *@
        <ul class="navbar-nav align-items-center ml-auto">
            <!--<li class="mr-3">-->
            @*<a class="p-2 f13 mr-1 rounded-pill shadow-sm mr-1">
            <label id="" class="mb-0">Academic Session : </label>
            <label id="session_month" class="text-pink font-weight-500 mb-0"></label>
            <label id="session_year" class="text-pink font-weight-500 mb-0"></label>
            </a>
            <a class="p-2 f13 mr-1 rounded-pill shadow-sm">
            <label id="" class="mb-0">Supervisor Session : </label>
            <label id="session_monthSup" class="text-pink font-weight-500 mb-0"></label>
            <label id="session_yearSup" class="text-pink font-weight-500 mb-0"></label>
            </a>
            <a class="p-2 f13 rounded-pill shadow-sm">
            <label id="" class="mb-0">Staff Session : </label>
            <label id="session_monthStaff" class="text-pink font-weight-500 mb-0"></label>
            <label id="session_yearStaff" class="text-pink font-weight-500 mb-0"></label>
            </a>*@

            <!--<span id="session_yearID" class="d-none"></span>
                <span id="session_monthID" class="d-none"></span>
            </li>-->

            <li class="nav-item dropdown no-caret mr-2 dropdown-user">
                <a class="dropdown-toggle" id="navbarDropdownUserImage" href="javascript:void(0);" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <div class="d-flex justify-content-end">
                        <div class="mr-2">
                            <div class="text-white ProfileName font-weight-500">WELCOME</div>
                            <div class="text-white ProfileName font-weight-500"><span class="text-white ProfileName font-weight-500" id="aspntokenarmyno"></span></div>
                            <div class="text-white ProfileName font-weight-500"><span class="text-white ProfileName font-weight-500 mr-2" id="ProfileRankName"></span><span id="ProfileName" class="font-weight-500 text-white ProfileName"></span></div>
                        </div>
                        <img class="" src="/Images/user4.png" />
                    </div>
                </a>
                <div class="dropdown-menu dropdown-menu-right border-0 pb-0 shadow animated--fade-in-up" aria-labelledby="navbarDropdownUserImage">

                    <h6 class="dropdown-header d-flex align-items-center">
                        <img class="dropdown-user-img" src="/Images/user4.png" />
                        <div class="dropdown-user-details">
                            <div class="dropdown-user-details-name">
                                @user.UserName
                            </div>
                    </h6>
                    <a class="dropdown-item" href="/UserProfile/Profile">
                        <i class="ti-settings text-primary"></i>
                        Edit Profile
                        <span class="d-none" id="aspndomainUnitID"></span>
                    </a>

                    @foreach (var item in RoleList)
                    {
                        @if (RoleName == item)
                        {
                            <form method="post" asp-controller="Account" asp-action="SwitchRole" asp-route-Id="@item">
                                <button type="submit" class="dropdown-item disabled" style="opacity: 0.6;cursor: not-allowed;color:blue;"><i class="ti-settings text-primary"></i><span class="fw-bold">@(user.UserName + " (" + item + ")")</span></button>
                            </form>
                        }
                        else
                        {
                            <form method="post" asp-controller="Account" asp-action="SwitchRole" asp-route-Id="@item">
                                <button type="submit" class="dropdown-item"><i class="ti-settings text-primary"></i><span>@(user.UserName + " (" + item + ")")</span></button>
                            </form>
                        }
                    }
                    <div class="dropdown-divider"></div>
                    @*  <a class="dropdown-item" href="#" id="btnChangePassword">
                    <div class="dropdown-item-icon"><i class="fa fa-key" aria-hidden="true"></i></div>

                    </a> *@
                    @*<div class="dropdown-divider"></div>*@
                    <a class="dropdown-item active" style="background-color: #0d6efd" href="/Account/Logout" id="btnLogout">
                        <div class="dropdown-item-icon"><i data-feather="log-out"></i></div>
                        Logout
                    </a>
                </div>
            </li>
        </ul>
    </nav>
    <!-- partial -->
    <div class="page-body-wrapper">


        <!-- partial -->

        <partial name="_Notification" />
        @RenderBody()

        <!-- partial -->
        <!-- main-panel ends -->
        <!-- partial -->
        <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
    @*  <script asp-src-include="~/select2/dist/js/select2.min.js"></script>*@
    @RenderSection("Scripts", false)
    @RenderSection("body_scripts", false)
    <script>
        $(document).ready(function () {

            $('[data-toggle="tooltip"]').tooltip();


            $("#loading").hide();
            $(document).ajaxStart(function () {
                $("#loading").show();
            }).ajaxStop(function () {
                $("#loading").hide();
            });
            $('.datepicker').datetimepicker({
                format: "L"
            });
            $('.timepicker').datetimepicker({
                format: "LT"
            });
            $('.datetimepicker').datetimepicker({
                sideBySide: true
            });

            $('.PersInfo').on("click", function () {
                sessionStorage.persid = null
            })
        });

    </script>


    <script asp-src-include="~/lib/jqueryui/jquery-ui.min.js"></script>
     <script src="~/js/bootstrap.bundle.min.js"></script>
    <script asp-src-include="~/bootstrap/js/bootstrap.bundle.min.js"></script>

    <script src="~/js/scripts.js"></script>


    <script asp-src-include="~/sweetalert2/sweetalert2.min.js"></script>
  @*    <script asp-src-include="~/toastr/toastr.min.js"></script> *@
    <script asp-src-include="~/js/moment.min.js"></script>
    <script asp-src-include="~/js/bootstrap-datetimepicker.min.js"></script>
    <script asp-src-include="~/toastr/toastr.min.js"></script>
    <script asp-src-include="~/developerjs/layout.js"></script> 
    <script asp-src-include="~/developerjs/commanvalidation.js"></script>


</body>
</html>


