@{
    Layout = null;
    DTOMapUnitResponse dTOMapUnitResponse = new DTOMapUnitResponse();
}
<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title> AFSAC </title>
    <link href="/Fonts/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="~/css/nunito.css" rel="stylesheet" />
    <link href="~/css/roboto.css" rel="stylesheet" />
    <link href="~/bootstrap/css/bootstrap.min.css" rel="stylesheet" />

  

    <link href="~/sweetalert2/sweetalert2.min.css" rel="stylesheet" />
    <link href="~/css/feed.css" rel="stylesheet" />
   
    <link href="~/css/normalize.min.css" rel="stylesheet" />
   @*  <link href="~/css/swiper.min.css" rel="stylesheet" /> *@
    <link href="~/css/feed.css" rel="stylesheet" />
    <link href="~/css/main.css" rel="stylesheet" />
    <link href="~/css/style.css" rel="stylesheet" />
   @*  <link href="~/css/stepwise.css" rel="stylesheet" /> *@
    <link href="~/select2/css/select2.min.css" rel="stylesheet" />
    <link href="~/lib/jqueryui/themes/base/jquery-ui.min.css" rel="stylesheet" />
    <link href="~/css/main.css" rel="stylesheet" />
    <link href="~/toastr/toastr.min.css" rel="stylesheet" />
    <style>
        .swal2-confirm, .swal2-styled {
            background: #D97904 !important;
        }

        .swal2-cancel {
            background: red !important;
        }

        .login-wrap {
            margin-top: 200px;
            margin-bottom: 100px;
            margin-left: 30%;
            margin-right: 30%;
            /*  border: 7px double #242c6d;*/
            border-radius: 10px;
            box-shadow: 0px 0px 40px rgb(217 121 4 / 23%);
            z-index: 1;
        }

    </style>

    <style>
        .error-container {
        }
    </style>
</head>


<body>

    @* <div id="loading" class="loader">
    <div class="loader-container">
    <img src="/Images/load.gif" width="100">
    <div>
    <h4 style="margin-top: -20px;">Loading...</h4>
    <span>Please wait. This may take few seconds.</span>
    </div>
    </div>
    </div>*@
    <span id="IsRegd" class="d-none1"></span>@*@ViewBag.IsRegd*@
    
    <div class="container-fluid" id="grad1">
        <div class="row justify-content-center mt-0">
            <div class="col-11 col-sm-9 col-md-7 col-lg-6 text-center p-0 mt-3 mb-2">
                <div class="card px-0 pt-4 pb-0 mt-3 mb-3">
                    <h2><strong>User Details</strong></h2>

                    <div class="row">
                        <div class="col-md-12 mx-0">
                            <form id="msform">
                                <span class="d-none" id="spnUserId">0</span>
                                @if (ViewBag.TrnDomain!=null)
                                {
                                    dTOMapUnitResponse = ViewBag.TrnDomain;
                                }

                                    <div class="form-card">
                                        <div class="card-sigin">
                                            <div class="main-signup-header login-form">
                                           @*  <h1 class="font-weight-bold text-center mb-0 mt-3 Backuphead">User Details </h1> *@
                                                <p class="font-weight-normal text-center mb-4 mt-1 text-danger"> </p>
                                                <div class="alert alert-danger alert-dismissible fade show error-msg d-none">

                                                    <span class="text-danger" id="error-msg"></span>
                                                </div>
                                                <div class="pb-3 mt-3 d-grid gap-2 col-8 mx-auto">
                                                <div class="col-xl-12 text-left">
                                                    <div class="form-group row mb-2">
                                                        <label class="col-form-label col-sm-4">User ID/ Domain ID</label>
                                                        <div class="col-sm-8">
                                                            <i class="fas fa-asterisk mand"></i><label class="form-control" id="txtDomainId">@ViewBag.DomainId</label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xl-12 text-left">
                                                    <div class="form-group row mb-2">
                                                        <label class="col-form-label col-sm-4">Offrs Army No </label>
                                                        <div class="col-sm-8">
                                                            <i class="fas fa-asterisk mand"></i><input type="text" class="form-control" id="txtArmyNo" name="txtArmyNo" value="IC-00001" data-val="true" data-val-regex="This special chars not allowed for security reasons." data-val-required="Name is required." data-val-regex-pattern="^[\w \- ]*$" />
                                                            IC No fetched from token (NE)
                                                            <span class="text-danger field-validation-valid" data-valmsg-for="txtArmyNo" data-valmsg-replace="true"></span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xl-12 text-left">
                                                    <div class="form-group row mb-2">
                                                        <label class="col-form-label col-sm-4">Name<i class="fas fa-asterisk mand1"></i></label>
                                                        <div class="col-sm-8">
                                                            <input class="form-control Alphanumeric" placeholder="Enter Name" maxlength="30" title="Only Alphabets and Numbers allowed" id="txtName" name="txtName" data-val="true" data-val-regex="This special chars not allowed for security reasons." data-val-required="Name is required." data-val-regex-pattern="^[a-zA-Z0-9 ]*$" />
                                                            <span class="text-danger field-validation-valid" data-valmsg-for="txtName" data-valmsg-replace="true"></span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xl-12 text-left">
                                                    <div class="form-group row mb-2">
                                                        <label class="col-form-label col-sm-4">Rank<i class="fas fa-asterisk mand1"></i></label>
                                                        <div class="col-sm-8">
                                                            <select class="form-select" style="width: 100%;" tabindex="-1" aria-hidden="true" name="ddlProRank" id="ddlProRank" data-val="true" data-val-regex="This special chars not allowed for security reasons." data-val-required="Rank is required." data-val-regex-pattern="^[a-zA-Z0-9 ]*$">
                                                                <option value="0">Select Rank </option>
                                                            </select>
                                                            <span class="text-danger field-validation-valid" data-valmsg-for="ddlProRank" data-valmsg-replace="true"></span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xl-12 text-left">
                                                    <div class="form-group row mb-2">
                                                        <label class="col-form-label col-sm-4">Formation<i class="fas fa-asterisk mand1"></i></label>
                                                        <div class="col-sm-8">

                                                            <select class="form-select" style="width: 100%;" tabindex="-1" aria-hidden="true" name="ddlProFormation" required id="ddlProFormation" data-val="true" data-val-regex="This special chars not allowed for security reasons." data-val-required="Formation is required." data-val-regex-pattern="^[a-zA-Z0-9 ]*$">
                                                                <option value="0">Select Formation </option>
                                                            </select>
                                                            <span class="text-danger field-validation-valid" data-valmsg-for="ddlProFormation" data-valmsg-replace="true"></span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xl-12 text-left">
                                                    <div class="form-group row mb-2">
                                                        <label class="col-form-label col-sm-4">Appt.<i class="fas fa-asterisk mand1"></i></label>
                                                        <div class="col-sm-8">

                                                            <select class="form-select" style="width: 100%;" tabindex="-1" aria-hidden="true" name="ddlProAppointment" id="ddlProAppointment" data-val="true" data-val-regex="This special chars not allowed for security reasons." data-val-required="Appointment is required." data-val-regex-pattern="^[a-zA-Z0-9 ]*$">
                                                                <option value="0">Select Appointment </option>
                                                            </select>
                                                            <span class="text-danger field-validation-valid" data-valmsg-for="ddlProAppointment" data-valmsg-replace="true"></span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xl-12 text-left">
                                                    <div class="form-group row mb-2">
                                                        <label class="col-form-label col-sm-4"> Int Offrs.<i class="fas fa-asterisk mand1"></i></label>
                                                        <div class="col-sm-8">
                                                            <div class="form-check form-check-inline">
                                                                <input class="form-check-input" type="radio" name="Intoffrs" id="intoffsyes">
                                                                <label class="form-check-label" for="intoffsyes">
                                                                    Yes
                                                                </label>
                                                            </div>
                                                            <div class="form-check form-check-inline">
                                                                <input class="form-check-input" type="radio" name="Intoffrs" id="intoffsno">
                                                                <label class="form-check-label" for="intoffsno">
                                                                    No
                                                                </label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xl-12 text-left">
                                                    <div class="form-group row mb-2">
                                                        <label class="col-form-label col-sm-4">Role</label>
                                                        <div class="col-sm-8">
                                                            <i class="fas fa-asterisk mand"></i><label class="form-control" id="txtDomainId">@ViewBag.Role</label>
                                                           @*  <select class="form-select" style="width: 100%;" tabindex="-1" aria-hidden="true" name="ddlRoles" required id="ddlRoles">
                                                              
                                                                <option value="User">User</option>
                                                               

                                                            </select> *@
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xl-12 d-none1 text-left">
                                                    <div class="form-group row mb-2">
                                                        <span id="spnUnitIdMap" class="d-none">@(dTOMapUnitResponse.UnitId > 0 ? dTOMapUnitResponse.UnitId : 0)</span>
                                                        <label class="col-form-label col-sm-4">Unit Name</label>
                                                        <div class="col-sm-6">
                                                            <i class="fas fa-asterisk mand"></i>
                                                            @if (dTOMapUnitResponse.UnitId > 0)
                                                            {
                                                                <input class="form-control Alphanumeric" placeholder="Enter Unit" id="txtProUnit" name="txtProUnit" title="Only Alphabets and Numbers allowed" data-val="true" data-val-regex="This special chars not allowed for security reasons." data-val-required="Unit is required." data-val-regex-pattern="^[a-zA-Z0-9 ]*$" value="@dTOMapUnitResponse.UnitName" />
                                                            }
                                                            else
                                                            {
                                                                <input class="form-control Alphanumeric" placeholder="Enter Unit" id="txtProUnit" name="txtProUnit" title="Only Alphabets and Numbers allowed" data-val="true" data-val-regex="This special chars not allowed for security reasons." data-val-required="Unit is required." data-val-regex-pattern="^[a-zA-Z0-9 ]*$" />
                                                            }
                                                            <span class="text-danger field-validation-valid" data-valmsg-for="txtProUnit" data-valmsg-replace="true"></span>
                                                        </div>
                                                        <div class="col-sm-2">
                                                            <button type="button" class="btn btn-icon btn-round btn-warning" id="btnMapUnitAdd"><i class="fas fa-plus"></i></button>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xl-12 UNITM text-left">
                                                    <div class="form-group row mb-2">
                                                        <label class="col-form-label col-sm-4">Sus No</label>
                                                        <div class="col-sm-6">

                                                            <label id="lblProSusno" class="col-form-label">@(dTOMapUnitResponse.Sus_no != null ? dTOMapUnitResponse.Sus_no : "")</label>
                                                            @* <input class="form-control Alphanumeric" placeholder="Enter SUS No" id="txtProSusno" required pattern="^[a-zA-Z0-9 ]*$" maxlength="8" title="Only Alphabets and Numbers allowed" /> *@
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xl-12 UNITM text-left">
                                                    <div class="form-group row mb-2">
                                                        <label class="col-form-label col-sm-4">Comd</label>
                                                        <div class="col-sm-8">
                                                            <label class="col-form-label" id="lblProComd">@(dTOMapUnitResponse.ComdName != null ? dTOMapUnitResponse.ComdName : "")</label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xl-12 UNITM text-left">
                                                    <div class="form-group row mb-2">
                                                        <label class="col-form-label col-sm-4">Corps</label>
                                                        <div class="col-sm-8">
                                                            <label class="col-form-label" id="lblProCorps">@(dTOMapUnitResponse.CorpsName != null ? dTOMapUnitResponse.CorpsName : "")</label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xl-12 UNITM text-left">
                                                    <div class="form-group row mb-2">
                                                        <label class="col-form-label col-sm-4">Div</label>
                                                        <div class="col-sm-8">
                                                            <label class="col-form-label" id="lblProDiv">@(dTOMapUnitResponse.DivName != null ? dTOMapUnitResponse.DivName : "")</label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xl-12 UNITM text-left">
                                                    <div class="form-group row mb-2">
                                                        <label class="col-form-label col-sm-4">Bde</label>
                                                        <div class="col-sm-8">
                                                            <label class="col-form-label" id="lblPrBde">@(dTOMapUnitResponse.BdeName != null ? dTOMapUnitResponse.BdeName : "")</label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>




                                            <div class="col-md-12 text-center mb-4">


                                                <button type="button" id="btncheckarmyno" class="btn btn-danger font-weight-600 btn-sm">
                                                    Check Army No
                                                </button>
                                                <button type="button" id="btnfetchtoken" class="btn btn-danger font-weight-600 btn-sm">
                                                        Refresh to fetch Token Details
                                                    </button>
                                                <button type="button" id="btnConfigsave" class="btn btn-success font-weight-600 btn-sm" onclick="Proceed()">Sign Up/ Save Record (Enabled once Army No filled)</button>
                                                @* //Sign Up/ Save Record *@
                                                
                                            </div>
                                       

                                                <div class="alert alert-danger alert-dismissible fade show spnmsg d-none d-grid gap-2 col-6 mx-auto">
                                                    @*<button type="button" class="btn-close" data-bs-dismiss="alert"></button>*@
                                                    <span class="text-danger" id="error-msg"></span>
                                                </div>
                                            </div>
                                            <div id="tokenmsg" class="d-grid gap-2 col-6 mx-auto">
                                            </div>
                                            

                                        </div>
                                    </div>
                                    
                              
                             
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script asp-src-include="~/lib/jquery/jquery.js"></script>
    <script asp-src-include="~/lib/jquery-validate/jquery.validate.js" defer></script>
    <script asp-src-include="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js" defer></script>

    <script asp-src-include="~/bootstrap/js/bootstrap.bundle.min.js"></script>
  @*   <script asp-src-include="~/fonts/feather/feather.min.js"></script> *@
    <script asp-src-include="~/sweetalert2/sweetalert2.min.js"></script>
    <script asp-src-include="~/lib/jqueryui/jquery-ui.min.js"></script>
   @*  <script asp-src-include="~/js/swiper.min.js"></script> *@
    <script asp-src-include="~/js/datatables/jquery.datatables.min.js"></script>
    <script asp-src-include="~/js/datatables/dataTables.responsive.min.js"></script>
    <script asp-src-include="~/js/datatables/responsive.dataTables.min.js"></script>
    <script asp-src-include="~/js/datatables/dataTables.bootstrap4.min.js"></script>
    <script asp-src-include="~/js/datatables/responsive.bootstrap4.min.js"></script>
    <script asp-src-include="~/js/datatables/dataTables.buttons.min.js"></script>
    <script asp-src-include="~/js/datatables/buttons.bootstrap4.min.js"></script>
 @*    <script asp-src-include="~/js/datatables/jszip.min.js"></script>
    <script asp-src-include="~/js/datatables/pdfmake.min.js"></script>
    <script asp-src-include="~/js/datatables/vfs_fonts.js"></script>
    <script asp-src-include="~/js/datatables/buttons.html5.min.js"></script>
    <script asp-src-include="~/js/datatables/buttons.print.min.js"></script>
    <script asp-src-include="~/js/datatables/datatables-call.js"></script> *@
    <script asp-src-include="~/select2/js/select2.min.js"></script>
   @*  <script asp-src-include="~/js/script.js"></script> *@
    <script asp-src-include="~/developerjs/token.js"></script>
    <script asp-src-include="~/toastr/toastr.min.js"></script>
    <script asp-src-include="~/developerjs/userconfig.js"></script>
    @* <script asp-src-include="~/developerjs/commanvalidation.js"></script> *@
    <script asp-src-include="~/developerjs/keyconstants.js"></script>
  @*   <script>
        feather.replace();
    </script>
 *@
    <script asp-src-include="~/developerjs/mapunit.js"></script>
    <script asp-src-include="~/developerjs/mtables.js"></script>
</body>
</html>
<div class="modal fade" id="AddNewUnitmap" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Enter Unit Details With Mapping</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>

            </div>

            <div class="modal-body">

                <div class="row">



                    <form action="" id="SaveFormMapUnit" method="post" name="SaveForm">
                        <div class="row">
                            <span class=" d-none" id="spnUnitMapUnitId">0</span>
                            <div class="form-group row mb-2">

                                <label class="col-form-label col-sm-4">SUS No <i class="fas fa-asterisk mand1"></i></label>
                                <div class="col-sm-8">


                                    <input class="form-control Alphanumeric" placeholder="Enter SUS No" id="txtSusno" minlength="8" maxlength="8" required pattern="^[a-zA-Z0-9 ]*$" title="Only Alphabets and Numbers allowed" />
                                </div>

                            </div>

                            <div class="form-group row mb-2">

                                <label class="col-form-label col-sm-4">Unit <i class="fas fa-asterisk mand1"></i></label>
                                <div class="col-sm-8">

                                    <span id="SpnUnitMapId" class="d-none">0</span>
                                    <input class="form-control Alphanumeric" placeholder="Enter Unit" id="txtUnit" required pattern="^[a-zA-Z0-9 ]*$" title="Only Alphabets and Numbers allowed" />

                                </div>

                            </div>
                            <div class="form-group row mb-2">

                                <label class="col-form-label col-sm-4">Fmn HQ/Branch <i class="fas fa-asterisk mand1"></i></label>
                                <div class="col-sm-8">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="ChkFmnBrach">
                                        <label class="form-check-label" for="ChkFmnBrach">
                                            Fmn HQ/Branch
                                        </label>
                                    </div>

                                </div>

                            </div>
                            <div class="form-group row mb-2">

                                <label class="col-form-label col-sm-4">Comd / PSO<i class="fas fa-asterisk mand1"></i></label>
                                <div class="col-sm-8">

                                    <select class=" js-example-basic-single select2 form-control" style="width: 100%;" tabindex="-1" aria-hidden="true" name="ddlCommand" required id="ddlCommand">
                                        <option value="0">Select Comd / PSO </option>

                                    </select>
                                </div>

                            </div>


                            <div class="form-group row mb-4">

                                <label class="col-form-label col-sm-4">Corps / Dte / Area<i class="fas fa-asterisk mand1"></i></label>
                                <div class="col-sm-8">

                                    <select class=" js-example-basic-single select2 form-control" style="width: 100%;" tabindex="-1" aria-hidden="true" name="ddlCorps" required id="ddlCorps">
                                        <option value="0">Select Corps / Dte / Area </option>

                                    </select>
                                </div>

                            </div>

                            <div class="form-group row mb-2">

                                <label class="col-form-label col-sm-4">Div  /Branch / SubArea<i class="fas fa-asterisk mand1"></i></label>
                                <div class="col-sm-8">

                                    <select class=" js-example-basic-single select2 form-control" style="width: 100%;" tabindex="-1" aria-hidden="true" name="ddlDiv" required id="ddlDiv">
                                        <option value="0">Select Div  /Branch / SubArea </option>

                                    </select>
                                </div>

                            </div>

                            <div class="form-group row mb-2">
                                <label class="col-form-label col-sm-4">Bde<i class="fas fa-asterisk mand1"></i></label>
                                <div class="col-sm-8">

                                    <select class=" js-example-basic-single select2 form-control" style="width: 100%;" tabindex="-1" aria-hidden="true" name="ddlBde" required id="ddlBde">
                                        <option value="0">Select Bde </option>

                                    </select>
                                </div>

                            </div>




                            <div class="col-sm-12 text-right">
                                <input type="button" class="btn btn-primary " value="Save" id="btnUnitMapsave" />
                                <button type="button" id="btnUnitMapReset" class="btn btn-outline-danger">Reset</button>
                            </div>
                            <div class="col-sm-12" id="msg">
                            </div>


                        </div>
                    </form>

                    <div class="col-sm-12" id="msg">
                    </div>
                </div>
            </div>

        </div><!-- modal-content -->
    </div><!-- modal-dialog -->
</div>

<script>
    $(document).ready(function () {




        $('.radio-group .radio').click(function () {
            $(this).parent().find('.radio').removeClass('selected');
            $(this).addClass('selected');
        });

        $(".submit").click(function () {
            return false;
        })
       
    });


</script>